{% if twbs == 3 %}
<div class="row">
  <div class="col-md-6">
    <div class="page-header">
	  <h1>Changement de mot de passe</h1>
	</div>
    <div class="jumbotron">
{% endif %}
        {{ form_start(form, {'action': path('fos_user_change_password'), 'attr': {'class': 'fos_user_change_password'}}) }}
    {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
        {{ form_end(form) }}
{% if twbs == 3 %}
    </div>
  </div>
</div>
{% endif %}
