{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
{% if twbs == 2 %}
{% if error %}
    <div class="alert alert-error">
    	<button type="button" class="close" data-dismiss="alert">×</button>
		{{ error|trans({}, 'FOSUserBundle') }}
	</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
  <div class="control-group">
    <label class="control-label" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <div class="controls">
      <input type="text" id="username" name="_username" value="{{ last_username }}" required="required">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <div class="controls">
      <input type="password" id="password" name="_password" required="required">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox" for="remember_me">
       <input type="checkbox" id="remember_me" name="_remember_me" value="on"> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
      </label>
      <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary">
    </div>
  </div>
</form>


{% else %}
<div class="row">
  <div class="col-md-6">
    <div class="page-header">
      <h1>Connexion</h1>
	</div>
    {% if error %}
    <div class="alert alert-error">
    	<button type="button" class="close" data-dismiss="alert">×</button>
		{{ error|trans({}, 'FOSUserBundle') }}
	</div>
    {% endif %}
    <div class="jumbotron">
      <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
        <div class="form-group">
          <label class="control-label" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
          <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required">
        </div>
        <div class="form-group">
          <label class="control-label" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
          <input type="password" class="form-control" id="password" name="_password" required="required">
        </div>
        <div class="checkbox">
          <label for="remember_me">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on"> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
          </label>
        </div>
        <button type="submit" id="_submit" name="_submit" class="btn btn-primary">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>  
      </form>
      <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
    </div>
  </div>
  <div class="col-md-6">
{#}
    <div class="page-header">
	  <h1>Demander un compte</h1>
	</div>
{#}
  </div>
</div>
{% endif %}
{% endblock fos_user_content %}