{% extends "layout.html.twig" %}

{% block container %}
<div class="container">
    <div class="span3"></div>
    <div class="span6">
      <div class="page-header">
        <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ asset('bundles/jlmuser/img/jlm-logo.png') }}"></h1>
      </div>
      {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
          <div class="{{ type }}">{{ message }}</div>
        {% endfor %}
      {% endfor %}
      <div class="well">
        {% block security_content %}
        {% endblock security_content %}
      </div>
    </div>
	<div class="span3"></div>
{% endblock %}
