{% extends "security/layout.html.twig" %}

{% block security_content %}
  {% if error %}
      <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ error.messageKey|trans(error.messageData, 'security') }}
      </div>
  {% endif %}

  <form method="post" class="form-horizontal">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <div class="control-group">
      <label class="control-label" for="username">Identifiant</label>
      <div class="controls">
        <input type="text" id="username" name="username" value="{{ last_username }}" required autofocus>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">Mot de passe</label>
      <div class="controls">
        <input type="password" id="password" name="password" required>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <label class="checkbox" for="remember_me">
         <input type="checkbox" id="remember_me" name="_remember_me" value="on"> Rester connecté
        </label>
        <button type="submit" class="btn btn-primary">S'identifier</button>
      </div>
    </div>
  </form>
{% endblock security_content %}
