{# @JLMDaily/Intervention/index.html.twig #}
{% extends '@JLMDaily/layout.html.twig' %}

{% block content %}
<h1>Interventions <small>({{ entities|length }})</small></h1>
{% include '@JLMDaily/Intervention/list.html.twig' with {'entities' : entities} %}

{% endblock %}
