{# @JLMDaily/Intervention/show.html.twig #}
{% extends '@JLMDaily/layout.html.twig' %}
{% block content %}
<h1>{% include '@JLMDaily/Intervention/type.html.twig' with {'type' : entity.type} %}</h1>

<div class="alert{% if entity.closed %} alert-success{% elseif entity.priority < 3 %} alert-error{% elseif entity.priority > 4 %} alert-info{% endif %}"><h4>
{% if entity.closed %}Cloturée
{% elseif entity.priority == 1 %}TRES URGENT
{% elseif entity.priority == 2 %}Urgent
{% elseif entity.priority == 3 %}Haute
{% elseif entity.priority == 4 %}Normal
{% elseif entity.priority == 5 %}Basse
{% elseif entity.priority == 6 %}Très basse
{% endif %}</h4>
</div>
<div class="row-fluid">
	<div class="span5">
		<p>
			Créée le {{ entity.creation|date('d/m/Y à H:i') }}
		</p>
		<h4>Raison</h4>
		<blockquote>
	    	<p>{% block reference %}{% endblock %}
	    	{{ entity.reason | nl2br }}
	    	<small>{{ entity.contactName }}
			<br>{{ entity.contactPhones | nl2br }}
			<br><a href="mailto:{{ entity.contactEmail}}">{{ entity.contactEmail}}</a></small></p>
			<div class="btn-toolbar">
				{% block edit_button %}{% endblock %}
			</div>
    	</blockquote>
    	
	</div>

	
	<div class="span7">
		<div class="tabbable tabs-left">
    		<ul class="nav nav-tabs">
    			<li class="active"><a href="#door" data-toggle="tab">Installation</a></li>
    			{% if entity.door.googlemaps %}<li><a href="#pics" data-toggle="tab">Photo</a></li>{% endif %}
				<li><a href="#trustee" data-toggle="tab">Syndic</a></li>
				<li><a href="#quotes" data-toggle="tab">Devis</a></li>
    		</ul>
    		<div class="tab-content">
    			<div class="tab-pane active" id="door">
    				<div class="row-fluid">
    					<div class="span8">
							
							{% if entity.door %}
							{% if entity.door.stopped %}<span class="label label-important">Mise à l'arrêt</span>{% endif %}
							{% if entity.door.underWarranty %}<span class="label label-success">Sous garantie jusqu'au {{ entity.door.endWarranty | date('d/m/Y') }}</span>{% endif %}
							<h3>{{ entity.door.code }}</h3>
							<h4>{{ entity.door.type }} - {{ entity.door.location }}</h4>
							<dl>
							<em>
							<dt>Accès</dt>
							<dd>{{ entity.door.street | nl2br }}</dd>
							</em>
							</dl>
							<address>
								<strong>{{ entity.door.site.address.city.name | upper }}</strong>
								<small>{{ entity.door.site.address.city.zip }}</small><br>
								{{ entity.door.site.address.street | nl2br }}
							</address>
							
						</div>
						<div class="span4 text-right">
						<a href="{{ path('daily_door_show',{'id':entity.door.id}) }}" class="btn btn-small">{{ 'eye-open'|icon }} Voir la fiche installation</a>
							<h2>{% if entity.dynContract is null %}Hors contrat
								{% if entity.door.lastContract %}<br><small>Débute le {{ entity.door.lastContract.begin|date('d/m/Y') }}</small>{% endif %}
							{% else %}
							{% if entity.dynContract == 'C1' %}Complet<br>24/24h 7/7j<br><small>Tout compris<br>hors vandalisme</small>
							{% elseif entity.dynContract == 'C2' %}Complet<br>L/V 8h30-17h30<br><small>Tout compris<br>hors vandalisme</small>
							{% elseif entity.dynContract == 'N3' %}Normal<br>24/24h 7/7j<br><small>Tout facturable</small>
							{% elseif entity.dynContract == 'N4' %}Normal<br>L/V 8h30-17h30<br><small>Tout facturable</small>
							{% endif %}
							{% endif %}</h2>
						<a href="{{ path('maintenance_neighbor',{'id':entity.door.id}) }}" class="btn btn-info btn-small">{{ 'zoom-in'|icon(true) }} Entretiens à proximité</a>
						</div>
					</div>
					<dl>
	 				<dt>Émetteurs</dt>
	 				{% if entity.door.transmitters|length %}
						{% for trans in entity.door.transmitters %}
							<dd>{{ trans }}</dd>
						{% endfor %}
					{% else %}
						<dd>Pas à nous</dd>
					{% endif %}
					{% if  entity.door.site.observations or entity.door.observations %}
				 		<dt>Notes</dt>
				 		{% if entity.door.model %}<dd>Modèle : {{ entity.door.model }}</dd>{% endif %}
				 		{% if entity.door.site.observations %}
				 			<dd>{{ entity.door.site.observations | nl2br }}</dd>
				 		{% endif %}
				 		{% if entity.door.observations %}
							<dd>{{ entity.door.observations | nl2br }}</dd>
						{% endif %}
					{% endif %}
					</dl>
				 {% else %}
					{{ entity.place | nl2br }}
				{% endif %}
					
					
				</div>
				{% if entity.door.googlemaps %}
				<div class="tab-pane" id="pics">
					<img width="350" height="300"  src="{{ entity.door.mapsImageUrl }}"  class="img-rounded" />
				</div>
				{% endif %}
				<div class="tab-pane" id="trustee">
					<h4>{{ entity.door.trustee }}</h4>
					<dl class="dl-horizontal">
						<dt>Adresse</dt>
						<dd>
						<address>{{ entity.door.trustee.address|nl2br }}</address>
						</dd>
						<dt>Téléphones</dt>
						{% for phone in entity.door.trustee.phones %}
						<dd>{{ phone }}</dd>
						{% endfor %}
					</dl>
				</div>
				<div class="tab-pane" id="others">
					<ul>
					{% for other in entity.door.site.doors %}
						{% if other.id != entity.door.id %}
						<li><a href="{{ path('daily_door_show',{'id':other.id}) }}">{{ other.type }} - {{ other.location }}</a></li>
						{% endif %}
					{% endfor %}
					</ul>
				</div>
				<div class="tab-pane" id="quotes">
					{% if quotes | length > 0 %}
					<ul>
					{% for quote in quotes %}
					<li>
						<a href="{{ path('quote_show',{'id':quote.id}) }}">
							{{ quote.number }}
							{% include '@JLMCommerce/Quote/statelabel.html.twig' with {'state': quote.state} %}
						</a>
				{#}		du {{ quote.creation|date('d/m/Y') }} {#}
					</li>
					{% endfor %}
					</ul>
					{% else %}
					Pas de devis
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12 well">
		<div class="row-fluid">
			<div class="span6">
				{% if entity.closed %}
				<h4>Rapport</h4>
				<blockquote>
				{% block reportclosed %}
				{% if entity.voucher %}
			 	<small>Bon d'intervention n°{{ entity.voucher }}</small>
			 	{% endif %}
				<p>
				
					{% block report %}
					{% endblock %}
			 		{% if entity.canceled %}<strong>Annulée</strong><br>{% endif %}
			 		{{ entity.report | nl2br}}
			 	</p>	
				
			 	{% if entity.mustBeBilled is not null %}
					{% if entity.mustBeBilled %}
						{% if entity.bill %}
							<a href="{{ path('bill_show',{'id': entity.bill.id }) }}">Facture n°{{ entity.bill.number }}</a>
						{% elseif entity.externalBill %}
							Facture n°{{ entity.externalBill }} (externe)
						{% else %}
							<a href="{{ path('bill_new',{'intervention':entity.id}) }}">A facturer</a>
							<a href="#modalExternalBill" data-toggle="modal" class="btn btn-small">Saisir le numéro</a>
						{% endif %}
					{% else %}
						Ne pas facturer
					{% endif %}
					{% if entity.bill is null%}
					<div class="btn-toolbar">
						<a href="{{ path('intervention_cancelbill',{'id':entity.id}) }}" class="btn btn-small">Changer</a>
					</div>
					{% endif %}
				{% else %}
					<div class="btn-toolbar">
						{% set preferbill = 0 %}
						{% block officeaction %}
						<div class="btn-group">
							{% if preferbill < 1 %}
								{% if preferbill == 0 %}
										<a href="{{ path('intervention_tobill',{'id' : entity.id }) }}" class="btn btn-small">Facturer</a>
									</div>
									<div class="btn-group">		
								{% endif %}
									<a href="{{ path('intervention_dontbill',{'id' : entity.id }) }}" class="btn btn-small btn-info">Ne pas facturer</a>
							{% else %}
									<a href="{{ path('intervention_tobill',{'id' : entity.id }) }}" class="btn btn-small btn-info">Facturer</a>
								</div>
								<div class="btn-group">
									<a href="{{ path('intervention_dontbill',{'id' : entity.id }) }}" class="btn btn-small">Ne pas facturer</a>
							{% endif %}
						</div>
						{% endblock %}
						</div>
					{% endif %}
					
			 	</blockquote>
			 		 	{# Modal #}
			 	{% if entity.mustBeBilled and entity.bill is null and entity.externalBill is null %}
					{{ form_start(form_externalbill, {'action': path('intervention_externalbill',{'id':entity.id}), 'attr': {
						'class': 'form-horizontal modal hide fade',
						'id': 'modalExternalBill',
						'tabindex': '-1',
						'role': 'dialog',
						'aria-labelledby': 'modalExternalBillLabel',
						'aria-hidden': 'true'
					}}) }}
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h3 id="modalExternalBillLabel">Numéro de facture externe</h3>
								</div>
								<div class="modal-body">
									{{ form_widget(form_externalbill) }}
								</div>
								<div class="modal-footer">
									<button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
									<button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer</button>
								</div>
					{{ form_end(form_externalbill) }}
				 	{% endif %}
				</div>
				<div class="span6">
				{% if entity.rest %}
				 	<h4>Reste à faire</h4>
				 	<blockquote>
				 	<p>{{ entity.rest  | nl2br}}</p>
					<div class="btn-toolbar">
				 		{% set preferother = 0 %}
						{% block otheraction %}
						<div class="btn-group">
							{# Bouton devis #}
							{% if entity.askQuote is not null %}
								{% if entity.askQuote.quotes|length %}
									<a href="#" class="btn btn-small{% if preferother == 0 %} btn-info{% endif %} disabled">Devis</a>
									<a href="#" class="btn btn-small{% if preferother == 0 %} btn-info{% endif %} dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
						 			<ul class="dropdown-menu">
						 				<li><a href="{{ path('askquote_show',{'id' : entity.askQuote.id }) }}">Voir la demande de devis</a></li>
						    			<li class="divider"></li>
									{% for quote in entity.askQuote.quotes %}
										<li><a href="{{ path('quote_show',{ 'id':quote.id }) }}" tabindex="-1">{{ quote.number }} {% include '@JLMCommerce/Quote/statelabel.html.twig' with {'state': quote.state} %}</a></li>
									{% endfor %}
									</ul>
								{% elseif entity.askQuote.dontTreat %}
									<a href="#" class="btn btn-small{% if preferother == 0 %} btn-info{% endif %} disabled">Devis</a>
									<a href="#" class="btn btn-small{% if preferother == 0 %} btn-info{% endif %} dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
						 			<ul class="dropdown-menu">
						 				<li><a href="{{ path('askquote_show',{'id' : entity.askQuote.id }) }}">Voir la demande de devis</a></li>
						    			<li class="divider"></li>
										<li>{{ entity.askQuote.dontTreat }}</li>
									</ul>
						    	{% else %}
						    		<a href="{{ path('intervention_cancelquote',{'id' : entity.id }) }}" class="btn btn-small{% if preferother == 0 %} btn-info{% endif %} active">Devis</a>
						    		<a href="#" class="btn btn-small{% if preferother == 0 %} btn-info{% endif %} dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
						    		<ul class="dropdown-menu">
						    			<li><a href="{{ path('askquote_show',{'id' : entity.askQuote.id }) }}">Voir la demande de devis</a></li>
						    		</ul>
						    	{% endif %}
						    {% else %}
						    	<a href="{{ path('intervention_toquote',{'id' : entity.id }) }}" class="btn btn-small{% if preferother == 0 %} btn-info{% endif %}">Devis</a>
						    	{#}<a href="#" class="btn btn-small{% if preferother == 0 %} btn-info{% endif %} disabled"><b class="caret"></b></a>{#}
						    {% endif %}
						   </div>
							
							{# Bouton commande #}
							<div class="btn-group">
							{% if entity.work is not null %}
								{% if entity.work.inProgress %}
									<a href="#" class="btn btn-small{% if preferother == 1 %} btn-info{% endif %} disabled">Prévoir intervention </a>
						    		<a href="#" class="btn btn-small{% if preferother == 1 %} btn-info{% endif %} dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
						    		<ul class="dropdown-menu">
						    			<li><a href="{{ path('work_show',{'id':entity.work.id}) }}">Voir les travaux</a></li>
						    		</ul>
						    	{% else %}
						    		<a href="{{ path('intervention_cancelwork',{'id' : entity.id }) }}" class="btn btn-small{% if preferother == 1 %} btn-info{% endif %} active">Prévoir intervention </a>
						    		<a href="#" class="btn btn-small{% if preferother == 1 %} btn-info{% endif %} dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
						    		<ul class="dropdown-menu">
						    			<li><a href="{{ path('work_show',{'id':entity.work.id}) }}">Voir les travaux</a></li>
						    		</ul>
						    	{% endif %}
						    {% else %}
						    	<a href="{{ path('intervention_towork',{'id' : entity.id }) }}" class="btn btn-small{% if preferother == 1 %} btn-info{% endif %}">Prévoir intervention</a>
						    	{#}<a href="#" class="btn btn-small{% if preferother == 1 %} btn-info{% endif %} disabled"><b class="caret"></b></a>{#}
						    {% endif %}
						    </div>
						    
							{# Bouton contacter client #}
							<div class="btn-group">
							{% if entity.contactCustomer is not null %}
								{% if entity.contactCustomer %}
						    		<a href="#" class="btn btn-small{% if preferother == 2 %} btn-info{% endif %} disabled">Contacter client</a>
						    	{% else %}
						    		<a href="{{ path('intervention_cancelcontact',{'id' : entity.id }) }}" class="btn btn-small{% if preferother == 2 %} btn-info{% endif %} active">Contacter client</a>
						    	{% endif %}
						    {% else %}
						    	<a href="{{ path('intervention_tocontact',{'id' : entity.id }) }}" class="btn btn-small{% if preferother == 2 %} btn-info{% endif %}">Contacter client</a>
						    {% endif %}
						    </div>
							{% endblock otheraction %}
			 		</div>
				</blockquote>
			 	{% endif %}
				{% endblock %}
				{% endif %}
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
			{% if not entity.canceled %}
				{% block close_button %}
				{% endblock %}
			{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<h4>Déplacements techniciens</h4>
		{% if entity.shiftTechnicians|length > 0 %}
			<table class="table table-stripped">
				<thead>
					<tr>
						<th>Date</th>
						<th>Technicien</th>
						<th>Heures</th>
						<th>Temps</th>
						<th>Commentaire</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for shift in entity.shiftTechnicians %}
					<tr>
						
						<td>{{ shift.begin | date('d/m/Y') }}</td>
						<td>{{ shift.technician }}</td>
						<td>{% if shift.begin | date('H:i') != '00:00' %}à {{ shift.begin | date('H:i') }}{% endif %}
							{% if shift.end %}{{ shift.end | date('H:i') }}{% endif %}</td>
						<td>{% if shift.end %}{{ shift.time.format('%hh%I') }}{% endif %}</td>
						<td>{{ shift.comment | nl2br}}</td>
						<td>
							<a href="{{ path('shifting_edit',{'id':shift.id}) }}" role="button" class="btn btn-warning shifting-edit">{{ 'pencil'|icon(true) }}</a>
							<a href="#modalDeleteTech{{ shift.id }}" data-toggle="modal" role="button" class="btn btn-danger">{{ 'remove'|icon(true) }}</a>
							<div id="modalDeleteTech{{ shift.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalDeleteTech{{ shift.id }}Label" aria-hidden="true">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h3 id="modalDeleteTech{{ shift.id }}Label">Supprimer un déplacement</h3>
								</div>
								<div class="modal-body">
									Êtes-vous sur de vouloir supprimer le déplacement de {{ shift.technician }} ?
								</div>
								<div class="modal-footer">
									<button class="btn" data-dismiss="modal" aria-hidden="true">Non</button>
									<a href="{{ path('shifting_delete',{'id':shift.id}) }}" class="btn btn-danger">Oui</a>
								</div>
							</div>
						</td>
					</tr>
					{% endfor %}
					</tbody>
				<tfoot>
					<tr>
						<th></th>
						<th>Total</th>
						<th></th>
						<th>{{ entity.totalTime.format('%hh%I') }}</th>
						<th></th>
						<th></th>
					</tr>
				</tfoot>
			</table>

			{% else %}
			<p>Aucun</p>
			{% endif %}
			<a href="{{ path('shifting_new', { 'id': entity.id }) }}" role="button" class="btn btn-small btn-success shifting-new">{{ 'plus-sign'|icon(true) }} Ajouter un déplacement technicien</a>
	</div>
</div>
    	

<div class="form-actions">
	{% block actions %}
			<a href="#modalDelete{{ entity.id }}" role="button" data-toggle="modal" class="btn btn-danger">{{ 'remove'|icon(true) }} Supprimer</a>
	{% endblock %}
</div>
{% endblock %}

{% block modals %}
{% include '@JLMDaily/Intervention/delete.html.twig' with {'id':entity.id} %}
{% endblock modals %}
