{% if twbs == 3 %}
<div class="row">
  <div class="col-md-6">
    <div class="page-header">
	  <h1>Mon compte</h1>
	</div>
    <div class="jumbotron">
{% endif %}
        {{ form_start(form, {'action': path('fos_user_profile_edit'), 'attr': {'class': 'fos_user_profile_edit'}}) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <button type="submit" class="btn btn-primary">{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}</button>
    </div>
        {{ form_end(form) }}
{% if twbs == 3 %}
    </div>
  </div>
</div>
{% endif %}
