{# @JLMDaily/Shifting/edit.html.twig #}
{% extends '@JLMDaily/layout.html.twig' %}

{% block content %}
<h1>Récupération matériel</h1>
<h4>{{ entity.technician}}</h4>
<dl>
<dt>Lieu</dt>
<dd>{{ entity.shifting.place | nl2br }}</dd>
<dt>Matériel</dt>
<dd>{{ entity.shifting.reason | nl2br }}</dd>
</dl>
{{ form_start(form, {'action': path('shifting_update',{'id':entity.id}), 'attr': {'class': 'form-horizontal'}}) }}
<fieldset>
{{ form_widget(form) }}
    <div class="form-actions">
	   <a href="{{ path('shifting_list',{'id':entity.id}) }}" class="btn">{{ 'arrow-left'|icon }} Retour à la liste</a>
	   <button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer les modifications</button>
	</div>
	</fieldset>
{{ form_end(form) }}
{% endblock %}
