{% extends '@JLMBootstrap/Form/translations.html.twig' %}
{#}
{% block form %}
{{ form_start(form, {'attr': {'id': form.vars.id,
							  'class': 'modal fade', 
                              'role': 'dialog', 
                              'aria-labelledby': form.vars.id ~ '_modalLabel',
                              'aria-hidden': 'true',
							  'tab-index': '-1' } } ) }}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="{{ form.vars.id }}_modalLabel">{{ label|trans({}, translation_domain) }}</h3>
  </div>
  <div class="modal-body">
    {{ form_errors(form) }}
    {{ form_widget(form) }}
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
    {{ form_rest(form) }}
  </div>
{{ form_end(form) }}
{{ form_javascript(form) }}
{% endblock %}
{#}
{% block button_row %}
{{ form_widget(form) }}
{% endblock %}

{% block form %}
{{ form_start(form, {'attr': {'id': form.vars.id,
							  'class': 'modal fade', 
                              'role': 'dialog', 
                              'aria-labelledby': form.vars.id ~ '_modalLabel',
                              'aria-hidden': 'true',
							  'tab-index': '-1' } } ) }}
{#}<div class="modal fade" id="askQuote{{ quote.id }}" tabindex="-1" role="dialog" aria-labelledby="askQuote{{ quote.id }}Label">{#}
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="askQuote{{ quote.id }}Label">Demander le devis n°{{ quote.number }}</h4>
      </div>
      <div class="modal-body">
        {{ form_errors(form) }}
        {{ form_widget(form) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        {{ form_rest(form) }}
      </div>
    </div>
  </div>
{#}</div>{#}
{{ form_end(form) }}
{% endblock %}
