{% block site_select_widget %}
{% apply spaceless %}
{% set attr = attr|merge({'data-source':  path('autocomplete_site') }) %}
{% set attr = attr|merge({'class': attr.class|default('') ~ ' autocompletion' }) %}
{{ block('textarea_widget') }}
{% endapply %}
{% endblock site_select_widget %}
