{# @JLMDaily/Default/search.html.twig #}
{% extends '@JLMDaily/layout.html.twig' %}

{% block content %}
<h1>Installations correspondants à "{{ query }}"</h1>
	{% if doors|length == 0  %} 
		<h2><small>Aucun résultat</small></h2>
	{% else %}
		<h2><small>Installations</small></h2>
		{% include '@JLMDaily/Door/list.html.twig' with {'doors': doors } %}
	{% endif %}
{% endblock %}
