{# @JLMDaily/Default/sidebar.html.twig #}
<li><a href="{{ path('intervention_today') }}"><span class="badge badge-success">{{ interventioncount.today }}</span> Aujourd'hui</a></li>
<li><a href="{{ path('daily_door_stopped') }}"><span class="badge badge-important">{{ interventioncount.stopped }}</span> A l'arrêt</a></li>
<li><a href="{{ path('fixing_list') }}"><span class="badge badge-warning">{{ interventioncount.fixing }}</span> Dépannages</a></li>
<li><a href="{{ path('work_list') }}"><span class="badge badge-info">{{ interventioncount.work }}</span> Travaux</a></li>
<li><a href="{{ path('maintenance_list') }}"><span class="badge">{{ interventioncount.maintenance }}</span> Entretiens</a></li>
