{% extends '@JLMCore/Form/horizontal.html.twig' %}

{% block form %}
{{ form_start(form, {'attr': {'id': form.vars.id,
							  'class': 'modal hide fade', 
                              'role': 'dialog', 
                              'aria-labelledby': form.vars.id ~ '_modalLabel',
                              'aria-hidden': 'true'} } ) }}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="{{ form.vars.id }}_modalLabel">{{ label|trans({}, translation_domain) }}</h3>
  </div>
  <div class="modal-body">
    {{ form_errors(form) }}
    {{ form_widget(form) }}
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
    {{ form_rest(form) }}
  </div>
{{ form_end(form) }}
{{ form_javascript(form) }}
{% endblock %}

{% block button_row %}
{{ form_widget(form) }}
{% endblock %}
