{#} {% set id = 'modalNewTransmitterSeries' %}
{% set action = path('transmitter_series_create',{'id':entity.attribution.id}) %}
{% set title = 'Nouvel séquence d\'émetteur' %}
{% extends '@JLMDefault/Helpers/modalform.html.twig' %}
{% block body %}
	{% include '@JLMTransmitter/Series/create.html.twig' %}
{% endblock %} {#}

{% form_theme form '@JLMCore/Form/modal_fields.html.twig' %}

{{ form(form, {'class':'form-horizontal', 'action' : path('transmitter_series_create',{'id':entity.attribution.id}), 'label': 'Nouvel séquence d\'émetteur' }) }}
