{% if twbs == 2 %}
{% else %}
<div class="row">
  <div class="col-md-6">
    <div class="page-header">
	  <h1>Réinitialisation de mot de passe</h1>
	</div>
  <div class="jumbotron">
    {{ form_start(form, {'action': path('fos_user_resetting_reset')) }}
      {{ form_widget(form) }}
      <div>
        <button type="submit" class="btn btn-primary">{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}</button>
      </div>
{{ form_end(form) }}
  </div>
</div>
{% endif %}