<h1>Ask edit</h1>

{{ form_start(edit_form, {'action': path('transmitter_ask_update', { 'id': entity.id })}) }}
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
{{ form_end(edit_form) }}

<ul class="record_actions">
    <li>
        <a href="{{ path('transmitter_ask') }}">
            Back to the list
        </a>
    </li>
</ul>
