{% extends '@JLMTransmitter/Ask/layout.html.twig' %}

{% block content %}
<h1>Commandes d'émetteurs</h1>
{% include '@JLMTransmitter/Ask/list_table.html.twig' with {'entities':entities} %}
{% endblock %}
