<table class="table">
    <thead>
        <tr>
            <th>Date</th>
			<th>Syndic</th>
			<th>Affaire</th>
			<th>Demande</th>
			<th>Fichier joint</th>
			<th>Etat</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
		<tr>
			<td>{{ entity.creation | date('d/m/Y') }}</td>
			<td>{{ entity.trustee }}</td>
			<td>
				{% if entity.site %}
					{% include '@JLMModel/Helpers/address.html.twig' with {'address' : entity.site.address } %}
				{% endif %}
			</td>
			<td><a href="{{ path('transmitter_ask_show',{ 'id':entity.id }) }}">{{ entity.ask | nl2br }}</a></td>
			<td>
				{% if entity.path %}
					<a href="/{{ entity.webPath }}" class="btn btn-small">{{ 'file'|icon }}<small>PDF</small></a>
				{% endif %}
			</td>
			<td>
				{% if entity.attributions | length %}
					<ul>
						{% for attribution in entity.attributions %}
							<li><a href="{{ path('transmitter_attribution_show',{'id':attribution.id}) }}">{{ attribution.creation|date('d/m/Y') }}</a></li>	
						{% endfor %}
					</ul>
				{% elseif entity.dontTreat %}
					<small>{{ entity.dontTreat }}</small>
				{% else %}
					<span class="label label-important">Non traitée</span>
					{% if entity.maturity %}
						<br><small>{{ entity.maturity | date('d/m/Y') }}</small>
					{% endif %}
				{% endif %}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
