{% extends '@JLMTransmitter/Ask/layout.html.twig' %}

{% block content %}
<h1>Nouvelle commande d'émetteurs</h1>
{% if form_errors(form) %}
<div class="alert">{{ form_errors(form) }}</div>
{% endif %}
{{ form_start(form, {'action': path('transmitter_ask_create'), 'attr': {'class': 'form-horizontal'}}) }}
	<filedset>
    	{{ form_widget(form) }}
	    <div class="form-actions">
	    	<button type="submit" class="btn btn-primary">Enregistrer</button>
	    </div>
    </filedset>
{{ form_end(form) }}
{% endblock %}

