{% extends '@JLMTransmitter/Ask/layout.html.twig' %}

{% block content %}
<h1>Commande d'émetteurs</h1>
<div class="row-fluid">
    <div class="span5">
    	<strong>Commande {{ entity.creation | date('d/m/Y') }} par {{ entity.method }}
    	<br>Échéance le : {{ entity.maturity | date('d/m/Y') }}
        <br><br>{{ entity.site | nl2br }}</strong>
    </div>
    <div class="span5 offset2 well">
    	<strong>{{ entity.trustee }}</strong>
        <br>{{ entity.trustee.address | nl2br  }}
    </div>
</div>
<div class="row-fluid">
    <div class="span12 well">
		<h4>Objet :</h4>
		<p>{{ entity.ask | nl2br}}</p>
	</div>
</div>
<div class="form-actions">
	{% if entity.webPath %}<a href="/{{ entity.webPath }}" class="btn btn-info">{{ 'file'|icon(true) }} Fichier joint</a>
	{% else %}<a href="#" class="btn btn-info disabled">{{ 'file'|icon(true) }} Pas de fichier joint</a>
	{% endif %}
	<a href="{{ path('transmitter_attribution_new',{'id':entity.id}) }}" class="btn btn-success">{{ 'plus-sign'|icon(true) }} Nouvelle attribution</a>
	{% if not entity.attributions|length and entity.dontTreat is null %}
	<a href="#modalDontTreat" data-toggle="modal" class="btn btn-danger">{{ 'remove'|icon(true) }} Ne pas traiter</a>
	{% elseif entity.dontTreat is not null %}
	<a href="{{ path('transmitter_ask_canceldonttreat',{'id':entity.id}) }}" class="btn btn-danger active">{{ 'remove'|icon(true) }} Ne pas traiter</a>
	{% else %}
	<a href="#" class="btn btn-danger disabled">{{ 'remove'|icon(true) }} Ne pas traiter</a>
	{% endif %}
</div>
{% if entity.attributions|length %}
<h4>Devis</h4>
<ul>
	{% for attribution in entity.attributions %}
	<li><a href="{{ path('transmitter_attribution_show',{'id':attribution.id}) }}">Attribution du {{ attribution.creation|date('d/m/Y') }}</a></li>
	{% endfor %}
</ul>
{% else %}
<h4>Non traité</h4>
	{% if entity.dontTreat %}
	<p>{{ entity.dontTreat | nl2br }}</p>
	{% endif %}
{% endif %}
{% endblock %}

{% block modals %}
{% include '@JLMTransmitter/Ask/donttreat.html.twig' with {'form':form_donttreat} %}
{% endblock %}
