{% extends '@JLMDaily/layout.html.twig' %}
{% block content %}
<h1>Liste des astreintes</h1>

<table class="table table-stripped">
    <thead>
        <tr>
            <th>Début</th>
            <th>Fin</th>
            <th>Technicien</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{% if entity.begin %}{{ entity.begin|date('d/m/Y') }}{% endif %}</td>
            <td>{% if entity.end %}{{ entity.end|date('d/m/Y') }}{% endif %}</td>
            <td>{% if entity.technician %}{{ entity.technician }}{% endif %}</td>
            <td>
                <a href="#modalEditStandby{{ entity.id }}" data-toggle="modal" role="button" class="btn btn-warning">{{ 'pencil'|icon(true) }}</a>
                {{ render(controller('\\JLM\\DailyBundle\\Controller\\StandbyController::editAction',{ 'id' : entity.id })) }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{# pagination en attente #}
{% if false %}
<div class="pagination pagination-centered">
    <ul>
        <li{% if page == 1 %} class="disabled"{% endif %}><a href="{{ path('trustee_page',{ 'page' : page-1 }) }}">«</a></li>
		{% for p in range(1,nbPages) %}
		<li{% if p == page %} class="active"{% endif %}><a href="{{ path('trustee_page',{ 'page' : p }) }}">{{ p }}</a></li>
		{% endfor %}
		<li{% if page == nbPages %} class="disabled"{% endif %}><a href="{{ path('trustee_page',{ 'page' : page+1 }) }}">»</a></li>
	</ul>
</div>
{% endif %}
{% endblock %}
