{% extends '@JLMDaily/layout.html.twig' %}

{% block content %}
<h1>Editer une astreinte</h1>
{{ form_start(form, {'action': path('standby_update',{'id':entity.id}), 'attr': {'class': 'form-horizontal'}}) }}
	<fieldset>
		{{ form_widget(form) }}
	    <div class="form-actions">
		   <button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer</button>
		</div>
	</fieldset>
{{ form_end(form) }}
{% endblock %}
