{# @JLMDaily/RecuperationEquipment/create.html.twig #}
{% extends '@JLMDaily/layout.html.twig' %}

{% block content %}
<h1>Déplacement</h1>
	{{ form_start(form, {'action': path('equipment_create'), 'attr': {'class': 'form-horizontal'}}) }}
	<fieldset>
		{{ form_widget(form) }}
		<div class="form-actions">
		   <a href="{{ previous }}" class="btn">{{ 'arrow-left'|icon }} Retour à la liste</a>
		   <button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer les modifications</button>
		</div>
	</fieldset>
	{{ form_end(form) }}
{% endblock %}
