{{ form_start(form, {'action': path('equipment_create'), 'attr': {
	'class': 'form-horizontal modal hide fade',
	'id': 'modalNewShift',
	'tabindex': '-1',
	'role': 'dialog',
	'aria-labelledby': 'modalNewShiftLabel',
	'aria-hidden': 'true'
}}) }}
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="modalNewShiftLabel">Nouveau déplacement</h3>
	</div>
	<div class="modal-body">
		{{ form_widget(form) }}
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
		<button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer</button>
	</div>
{{ form_end(form) }}