{% extends '@JLMModel/layout.html.twig' %}
{% block content %}
<h1>Edition d'une famille de produit</h1>
{{ form_start(edit_form, {'action': path('jlm_product_productcategory_update', { 'id': entity.id }), 'attr': {'class': 'form-horizontal'}}) }}
<fieldset>
    {{ form_widget(edit_form) }}
    <div class="form-actions">
	   <a href="{{ path('jlm_product_productcategory') }}" class="btn">{{ 'arrow-left'|icon }} Retour à la liste</a>
	   <button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer les modifications</button>
	</div>
</fieldset>
{{ form_end(edit_form) }}
{% endblock %}
