{% extends '@JLMModel/layout.html.twig' %}
{% block content %}
<h1>Liste des familles de produit</h1>

<table class="table table-stripped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Famille parente</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('jlm_product_productcategory_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
            <td>{% if entity.parent %}<a href="{{ path('jlm_product_productcategory_show', { 'id': entity.parent.id }) }}">{{ entity.parent }}</a>{% endif %}</td>
            <td><a href="{{ path('jlm_product_productcategory_show', { 'id': entity.id }) }}" class="btn">{{ 'eye-open'|icon }}</a>
                <a href="{{ path('jlm_product_productcategory_edit', { 'id': entity.id }) }}" class="btn btn-warning">{{ 'pencil'|icon(true) }}</a></td>
        </tr>
    {% endfor %}
   </tbody>
</table>
    <div class="pagination pagination-centered">
	    <ul>
		    <li class="disabled"><a href="#">«</a></li>
		    <li class="active"><a href="#">1</a></li>
		    <li class="disabled"><a href="#">»</a></li>
	    </ul>
    </div>
<div class="form-actions">
<a href="{{ path('jlm_product_productcategory_new') }}" class="btn btn-primary">{{ 'plus-sign'|icon(true) }} Créer une nouvelle famille produit</a>
</div>
{% endblock %}
