{% extends '@JLMModel/layout.html.twig' %}
{% block content %}
<h1>{{ entity.name }}</h1>
<table class="table">
  <tbody>
    <tr>
      <th>Famille parente</th>
      <td>{% if entity.parent %}<a href="{{ path('jlm_product_productcategory_show', { 'id': entity.parent.id }) }}">{{ entity.parent }}</a>{% endif %}</td>
    </tr>
    <tr>
      <th>Familles filles</th>
      <td>
        <ul>
        {% for child in entity.children %}
          <li><a href="{{ path('jlm_product_productcategory_show', { 'id': child.id }) }}">{{ child }}</a></li>
        {% endfor %}
        </ul>
      </td>
    </tr>
  </tbody>
</table>
<div class="form-actions">
	<a href="{{ path('jlm_product_productcategory') }}" class="btn">{{ 'arrow-left'|icon }} Retour à la liste</a>
	<a href="{{ path('jlm_product_productcategory_edit', { 'id': entity.id }) }}" class="btn btn-warning">{{ 'pencil'|icon(true) }} Editer</a>
</div>
{% endblock %}
