{% extends '@JLMModel/layout.html.twig' %}
{% block content %}
<h1>Nouveau contact de syndic</h1>
{{ form_start(form, {'action': path('trustee_contact_create',{'id':trustee.id}), 'attr': {'class': 'form-horizontal'}}) }}
    <fieldset>
    {{ form_widget(form) }}
	<div class="form-actions">
	   <a href="{{ path('trustee_show',{'id':trustee.id}) }}" class="btn">{{ 'arrow-left'|icon }} Retour au syndic</a>
	   <button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer les modifications</button>
	</div>
{{ form_end(form) }}
{% endblock %}

