{% extends '@JLMModel/layout.html.twig' %}
{% form_theme edit_form '@JLMModel/Form/trustee.html.twig' %}
{% block content %}
<h1>Edition d'un syndic</h1>
	{{ form_start(edit_form, {'action': path('trustee_update', { 'id': entity.id }), 'attr': {'class': 'form-horizontal'}}) }}
    {{ form_widget(edit_form) }}
    <div class="form-actions">
	   <a href="{{ path('trustee') }}" class="btn">{{ 'arrow-left'|icon }} Retour à la liste</a>
	   <button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer les modifications</button>
	</div>
	{{ form_end(edit_form) }}
{% endblock %}

