{% extends '@JLMModel/layout.html.twig' %}
{% block content %}
<h1>Liste des Syndics</h1>
<table class="table table-stripped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Téléphone</th>
            <th>CA</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('trustee_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
            <td>{% include '@JLMModel/Helpers/address.html.twig' with {'address':entity.address} %}</td>
            <td>
            <ul>
              {% for phone in entity.phones %}
            	<li>{{ phone }}</li>
              {% endfor %}
              </ul>
            </td>
            <td>{{ entity.contractsSum | number_format(2,',',' ') }} €</td>
            <td>
                <a href="{{ path('trustee_show', { 'id': entity.id }) }}" class="btn">{{ 'eye-open'|icon }}</a>
                <a href="{{ path('trustee_edit', { 'id': entity.id }) }}" class="btn btn-warning">{{ 'pencil'|icon(true) }}</a>
           </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="pagination pagination-centered">
    <ul>
        <li{% if page == 1 %} class="disabled"{% endif %}><a href="{{ path('trustee_page',{ 'page' : page-1 }) }}">«</a></li>
		{% for p in range(1,nbPages) %}
		<li{% if p == page %} class="active"{% endif %}><a href="{{ path('trustee_page',{ 'page' : p }) }}">{{ p }}</a></li>
		{% endfor %}
		<li{% if page == nbPages %} class="disabled"{% endif %}><a href="{{ path('trustee_page',{ 'page' : page+1 }) }}">»</a></li>
	</ul>
</div>
<div class="form-actions">
<a href="{{ path('trustee_new') }}" class="btn btn-primary">{{ 'plus-sign'|icon(true) }} Créer un nouveau syndic</a>
</div>
{% endblock %}
