{% extends '@JLMModel/layout.html.twig' %}
{% form_theme form '@JLMModel/Form/trustee.html.twig' %}
{% block content %}
	<h1>Nouveau syndic</h1>
	{{ form_start(form, {'action': path('trustee_create'), 'attr': {'class': 'form-horizontal'}}) }}
		{{ form_widget(form) }}
		<div class="form-actions">
		   <a href="{{ path('trustee') }}" class="btn">{{ 'arrow-left'|icon }} Retour à la liste</a>
		   <button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer les modifications</button>
		</div>
	{{ form_end(form) }}
{% endblock %}

