{% extends '@JLMModel/layout.html.twig' %}
{% block content %}
<h1>{{ entity.name }}</h1>
<div class="row-fluid">
	<div class="span4">
	
		<address>
            {% include '@JLMModel/Helpers/address.html.twig' with {'address':entity.address} %}
              {% for phone in entity.phones %}
            	<br>{{ phone }}
              {% endfor %}
			{% if entity.email %}<br>e-mail : <a href="mailto:{{ entity.email }}">{{ entity.email }}</a>{% endif %}
		</address>
		<a href="{{ path('jlm_contact_contact_edit', { 'id': entity.contact.id }) }}" class="btn btn-warning btn-small edit-contact">{{ 'pencil'|icon(true) }}</a>
	</div>
	<div class="span8">
	
		<address>
			<strong>Facturation</strong>
			<br>{% include '@JLMModel/Helpers/address.html.twig' with {'address':entity.billingAddress} %}
			<br><strong>Compte n°{{ entity.accountNumber }}</strong>
			{% if entity.billingPhone %}<br>Tel : {% include '@JLMModel/Helpers/phone.html.twig' with {'phone':entity.billingPhone} %}{% endif %}
			{% if entity.billingFax %}<br>Fax : {% include '@JLMModel/Helpers/phone.html.twig' with {'phone':entity.billingFax} %}{% endif %}
			{% if entity.billingEmail %}<br>e-mail : <a href="mailto:{{ entity.billingEmail }}">{{ entity.billingEmail }}</a>{% endif %}
		</address>
		<a href="{{ path('trustee_edit', { 'id': entity.id }) }}" class="btn btn-warning btn-small">{{ 'pencil'|icon(true) }}</a>
	</div>
</div>

<ul class="nav nav-tabs">
    <li class="active"><a href="#contacts" data-toggle="tab">Contacts</a></li>
    <li><a href="#addresses" data-toggle="tab">Adresses</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="contacts">
<button class="btn" id="add-corporationcontact" href="{{ path('jlm_contact_corporationcontact_new', {'corporation': entity.contact.id }) }}">Nouvelle</button>
<table class="table table-bordered table-hover" id="contacts-list">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Rôle</th>
      <th>Téléphones</th>
  </thead>
  <tbody>
    {% for contact in entity.contact.contacts %}
    <tr>
      <td><a href="{{ path('jlm_contact_contact_show', {'id': contact.contact.id} ) }}">{{ contact.name }}</a></td>
      <td>{{ contact.position }}</td>
      <td>
        <ul>
        {% for phone in contact.phones %}
          <li>{{ phone }}</li>  
        {% endfor %}
        </ul>
      </td>
      <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
      <td>
        <a class="btn btn-warning btn-small edit-corporationcontact" href="{{ path('jlm_contact_corporationcontact_edit', {'id': contact.id} ) }}">{{ 'pencil'|icon(true) }}</a>
        <a class="btn btn-danger btn-small delete-corporationcontact" href="{{ path('jlm_contact_corporationcontact_confirmdelete', {'id': contact.id} ) }}">{{ 'remove'|icon(true) }}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


</div>
<div class="tab-pane" id="addresses">
	<a href="{{ path('site_new', { 'trustee': entity.id }) }}" class="btn btn-success">{{ 'plus-sign'|icon(true) }} Ajouter une affaire</a>
{% include '@JLMModel/Site/list.html.twig' with {'sites': entity.sites } %}
</div>
</div>

{% endblock %}

{% block javascripts_script %}
{{ parent() }}
$(".edit-contact").formModal();
$("#add-corporationcontact").formModal({
    closure: function(data) {
    	var $phones = $('<ul/>');
    	var email = (data.contact.email === null) ? '' : '<a href="mailto:' + data.contact.email + '">' + data.contact.email + '</a>';
    	
    	$.each(data.contact.phones, function(index, phone) {
    	    $phones.append($('<li/>').html(phone.label + ' : ' + phone.phone.number));
    	})
    	
    	var $line = $('<tr/>');
    	$line.append($('<td/>').html('<a href="' + data.contact.contact.show_link + '">' + data.contact.title + ' ' + data.contact.name + '</a>'))
    	     .append($('<td/>').html(data.position))
    		 .append($('<td/>').html($phones))
    	     .append($('<td/>').html(email))
    	     .append($('<td/>').html('<a class="btn btn-warning btn-small edit-corporationcontact" href="' + data.edit_link + '">{{ 'pencil'|icon(true) }}</a> <a class="btn btn-danger btn-small delete-corporationcontact" href="' + data.delete_link + '">{{ 'remove'|icon(true) }}</a>'));
    	$line.find('.edit-corporationcontact').formModal();
    	$line.find('.delete-corporationcontact').formModal({
			closure: function(data, e) {
				e.data.$element.parent().parent().remove();
			}
		});
    	$("#contacts-list tbody").append($line);
    }
});

$(".edit-corporationcontact").formModal();
var $deleteBtns = $(".delete-corporationcontact");
$deleteBtns.formModal({
		closure: function(data, e) {
			e.data.$element.parent().parent().remove();
		}
	});

{% endblock %}
