{% extends '@JLMModel/layout.html.twig' %}
{% form_theme form '@JLMModel/Form/door.html.twig' %}
{% block content %}
<h1>Nouvelle porte</h1>
{{ form_start(form, {'action': path('door_create'), 'attr': {'class': 'form-horizontal'}}) }}
	{{ form_widget(form) }}
    <div class="form-actions">
	   <a href="{{ path('site_show', { 'id': site.id }) }}" class="btn">{{ 'arrow-left'|icon }} Retour à la liste</a>
	   <button type="submit" class="btn btn-primary">{{ 'plus-sign'|icon(true) }} Créer</button>
	</div>
{{ form_end(form) }}
{% endblock %}



