{% if twbs == 3 %}
<div class="row">
  <div class="col-md-6">
    <div class="page-header">
	  <h1>Inscription</h1>
	</div>
    <div class="jumbotron">
{% endif %}
<p>Mettre <strong>uB78xFh2</strong> en mot de passe</p>
        {{ form_start(form, {'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
        {{ form_end(form) }}
{% if twbs == 3 %}
    </div>
  </div>
</div>
{% endif %}