{% set id = 'modalNewTransmitterReplacement' %}
{% set action = path('transmitter_replacement_create',{'id':entity.attribution.id}) %}
{% set title = 'Nouveau remplacement d\'émetteur' %}
{% extends '@JLMDefault/Helpers/modalform.html.twig' %}
{% block body %}
	{% include '@JLMTransmitter/Replacement/create.html.twig' %}
{% endblock %}
