{% extends '@JLMModel/layout.html.twig' %}
{% block content %}
<h1>{{ entity.person.name }} <small>{{ entity.role }}</small></h1>
<div class="row-fluid">
    <div class="span4 well">
        <address>
        <strong>Coordonnées</strong>
        {% for phone in entity.person.phones %}
        <br>{{ phone.label }} : {{ phone.number }}
        {% endfor %}
        {% if entity.person.email %}<br>e-mail : <a href="mailto:{{ entity.person.email }}">{{ entity.person.email }}</a>{% endif %}
        
        </address>
    </div>
    {% if entity.person.address %}
    <div class="span6 well">
		<strong>Adresse : </strong>
		<br>{{ entity.person.address.toString | nl2br }}
    </div>
    {% endif %}
</div>

<div class="form-actions">
	<a href="{{ path('site_show', { 'id': entity.site.id }) }}" class="btn">{{ 'arrow-left'|icon }} Retour à la fiche affaire</a>
	<a href="{{ path('sitecontact_edit', { 'id': entity.id }) }}" class="btn btn-warning">{{ 'pencil'|icon(true) }} Editer</a>
</div>
{% endblock %}
