{% extends '@JLMModel/layout.html.twig' %}
{% block content %}
{% if form_errors(edit_form) %}
<div class="alert">{{ form_errors(edit_form) }}</div>
{% endif %}
<h1>Edition d'un produit</h1>

{{ form_start(edit_form, {'action': path('jlm_product_product_update', { 'id': entity.id }), 'attr': {'class': 'form-horizontal'}}) }}
<fieldset>
    {{ form_widget(edit_form) }}
    <div class="form-actions">
	   <a href="{{ path('jlm_product_product') }}" class="btn">{{ 'arrow-left'|icon }} Retour à la liste</a>
	   <button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer les modifications</button>
	</div>
</fieldset>
{{ form_end(edit_form) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$("body").product();
</script>
{% endblock %}
