{% extends '@JLMModel/layout.html.twig' %}

{% block content %}
<h1>Liste des produits</h1>

<table class="table table-stripped">
    <thead>
        <tr>
            <th>Référence</th>
            <th>Désignation</th>
            <th>Famille</th>
            <th>Unité</th>
            <th>Prix d'achat HT</th>
            <th>Prix de vente HT</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr{%- if not entity.active %} class="error"{% endif %}>
            <td><a href="{{ path('jlm_product_product_show', { 'id': entity.id }) }}">{{ entity.reference }}</a></td>
            <td>{{ entity.designation }}</td>
            <td>{% if entity.category %}<a href="{{ path('jlm_product_productcategory_show', { 'id': entity.category.id }) }}">{{ entity.category }}</a>{% endif %}</td>
            <td>{{ entity.unity }}</td>
            <td>{{ entity.purchasePrice|number_format(2, ',', ' ') }} €</td>
            <td>{{ entity.unitPrice|number_format(2, ',', ' ') }} €</td>
            <td>
            	<a href="{{ path('jlm_product_product_show', { 'id': entity.id }) }}" class="btn">{{ 'eye-open'|icon }}</a>
                <a href="{{ path('jlm_product_product_edit', { 'id': entity.id }) }}" class="btn btn-warning">{{ 'pencil'|icon(true) }}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="pagination pagination-centered">
	<ul>
	    <li{% if page == 1 %} class="disabled"{% endif %}><a href="{{ path('jlm_product_product',{ 'page' : page-1 }) }}">«</a></li>
		{% for p in range(1,nbPages) %}
		<li{% if p == page %} class="active"{% endif %}><a href="{{ path('jlm_product_product',{ 'page' : p }) }}">{{ p }}</a></li>
		{% endfor %}
		<li{% if page == nbPages %} class="disabled"{% endif %}><a href="{{ path('jlm_product_product',{ 'page' : page+1 }) }}">»</a></li>
	</ul>
</div>
<div class="form-actions">
<a href="{{ path('jlm_product_product_new') }}" class="btn btn-primary">{{ 'plus-sign'|icon(true) }} Créer un nouveau produit</a>
</div>
{% endblock %}
