{% extends '@JLMModel/layout.html.twig' %}
{% block content %}
<h1>Nouveau produit</h1>
{{ form_start(form, {'action': path('jlm_product_product_create'), 'attr': {'class': 'form-horizontal'}}) }}
 <fieldset>
    {{ form_widget(form) }}
	<div class="form-actions">
	   <a href="{{ path('jlm_product_product') }}" class="btn">{{ 'arrow-left'|icon }} Retour à la liste</a>
	   <button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer les modifications</button>
	</div>
</fieldset>
{% endblock %}

{% block javascriptsappend %}
$("body").product();
{% endblock %}
