{% extends '@JLMCommerce/Bill/layout.html.twig' %}

{% block content %}
<h1>Envoyer un e-mail</h1>
    {{ form_start(form, {'action': path('jlm_commerce_bill_boostemail',{'id': entity.id}), 'attr': {'class': 'form-horizontal'}}) }}
    <fieldset>
      {{ form_widget(form) }}
    </fieldset>
    <div class="form-actions">
	   <button type="submit" class="btn btn-primary">{{ 'share-alt'|icon(true) }} Envoyer</button>
	</div>
    {{ form_end(form) }}
{% endblock %}
