{% extends '@JLMCommerce/Bill/layout.html.twig' %}

{% block content %}
<h1>Liste des factures {{ bill_title|default('') }}</h1>
{% include '@JLMCommerce/Bill/list.html.twig' with {'entities':entities} %}
{% include '@JLMCore/pagination.html.twig' %}
{% endblock %}

{% block pagination %}{% endblock %}
