{% extends '@JLMOffice/layout.html.twig' %}

{% block sidebar %}
	<li><h4>Factures</h4></li>
	<li>{{ form(search.form, {'action': path('bill_search')}) }}</li>
    <li><a href="{{ path('bill_new') }}">{{ 'plus-sign'|icon }} Nouvelle facture</a></li>
    <li class="divider"></li>
    <li class="nav-header">Etats</li>
    {% include '@JLMCommerce/Bill/sidebar.html.twig' %}
    <li class="divider"></li>
    <li class="nav-header">Année</li>
    {% for year in 2016..2013 %}
    <li><a href="{{ path('bill', {'year':year}) }}">{{ year }}</a></li>
    {% endfor %}
    <li class="divider"></li>
    <li><a href="{{ path('bill_toboost') }}">{{ 'list'|icon }} Liste des relances</a></li>
    <li><a href="{{ path('bill_printlist') }}">{{ 'print'|icon }} Imprimer les factures à faire</a></li>
{% endblock sidebar %}
