<table class="table table-stripped">
    <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Syndic</th>
            <th>Affaire</th>
            <th>Echéance</th>
            <th>Total HT</th>
            <th>Total TTC</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{% include '@JLMCommerce/Bill/statelabel.html.twig' with {'state': entity.state} %}
            	<br><a href="{{ path('bill_show', { 'id': entity.id }) }}">{{ entity.number }}</a><br>
            </td>
            <td>{% if entity.creation %}{{ entity.creation|date('d/m/Y') }}{% endif %}</td>
            <td>{{ entity.trusteeName }}</td>
            <td>{{ entity.site | nl2br}}</td>
            <td>
            	{% if entity.toBoost %}
            		<span class="label label-info">À relancer</span><br>
            	{% elseif entity.state == 1 %}
	            	{% if entity.secondBoost is not null %}<span class="label label-important">2ème relance effectuée</span><br>
	            	{% elseif entity.firstBoost is not null %}<span class="label label-warning">1ère relance effectuée</span><br>
	            	{% endif %}
            	{% endif %}
            	{{ entity.maturityDate | date('d/m/Y') }}
            	
            </td>
            <td>{{ entity.totalPrice | number_format(2,',',' ')}} €</td>
            <td>{{ entity.totalPriceAti | number_format(2,',',' ')}} €</td>
            <td>
            {% if entity.state == 0 %}
            	<a href="{{ path('bill_send',{'id':entity.id}) }}" class="btn btn-primary btn-small">Envoyer</a>
            {% elseif entity.state == 1 %}
            	<a href="{{ path('bill_payed',{'id':entity.id}) }}" class="btn btn-success btn-small">Régler</a><br>
            	{% if entity.toBoost %}
            	<div class="btn-group">
					    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
					    	{% if entity.firstBoost is null %}1ère
            	{% elseif entity.secondBoost is null %}2ème
            	{% else %}3ème{% endif %} relance
					    	<span class="caret"></span>
					    </a>
					    <ul class="dropdown-menu">
					        <li><a href="{{ path('bill_printduplicate',{'id':entity.id}) }}"><i class="icon icon-white icon-print"></i> Imprimer duplicata</a></li>
					    	<li><a href="{{ path('bill_printboost',{'id':entity.id}) }}"><i class="icon icon-white icon-print"></i> Imprimer courrier</a></li>
					    	<li><a href="{{ path('bill_boostok',{'id':entity.id}) }}"><i class="icon icon-white icon-ok"></i> Relance effectuée</a></li>
					    </ul>
					 </div>
				{% endif %}
            {% elseif entity.state == 2 %}
            	<a href="{{ path('bill_send',{'id':entity.id}) }}" class="btn btn-danger btn-small">Annuler réglé</a>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
