{% extends '@JLMCommerce/Bill/layout.html.twig' %}

{% block content %}
	<h1>Résultats de la recherche</h1>
	{% if results|length %}
		<h1><small>Factures</small></h1>
		{% include '@JLMCommerce/Bill/list.html.twig' with {'entities':results} %}
	{% endif %}
{% endblock %}
