{% extends '@JLMCommerce/Bill/layout.html.twig' %}
{% block content %}
<h1>Liste des factures à faire</h1>
<h2><small>Interventions</small></h2>
<table class="table table-stripped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Syndic</th>
            <th>Installation</th>
            <th>Contrat</th>
            <th>Infos</th>
            <th>Temps passé</th>
            <th>Facturer</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{% include '@JLMDaily/Intervention/labeltype.html.twig' with {'type': entity.type} %}
            	<br><small>
		{% if entity.firstDate %}
			{% if entity.lastDate != entity.firstDate %}du {{ entity.firstDate | localizeddate('full', 'none') }}
			                                        <br>au {{ entity.lastDate | localizeddate('full', 'none') }}
			{% else %}{{ entity.firstDate | localizeddate('full', 'none') }}
			{% endif %}
		{% else %}
			{{ entity.creation | localizeddate('full', 'none') }}
			{% endif %}
				</small>
            </td>
            <td>{{ entity.door.trustee }}</td>
            <td><a href="{{ path('intervention_redirect',{'id':entity.id, 'act':'show'}) }}">
					{% if entity.door %}
						<strong>{{ entity.door.site.address.city.name | upper }}</strong> <small>{{ entity.door.site.address.city.zip }}</small><br>{{ entity.door.street | nl2br }}
					{% else %}{{ entity.place | nl2br }}
					{% endif %}
				</a></td>
				<td>{{ entity.contract }}</td>
            <td>{% if entity.door %}
			<strong>{{ entity.door.type }} - {{ entity.door.location }}</strong>{% endif %}<br>
			<small>{% if entity.type == 'work' %}
	 	{% if entity.quote %}Selon devis n°{{ entity.quote.number }}<br>{% endif %}{% endif %}{{ entity.reason | nl2br }}</small></td>
			
            <td>{{ entity.totalTime.format('%hh%I') }}</td>
            <td>
            	<a href="{{ path('bill_new',{'intervention':entity.id}) }}" class="btn btn-primary">Facturer...</a><br>
            	<a href="#modalExternalBill{{ entity.id }}" data-toggle="modal" class="btn btn-small">Saisir numéro</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block modals %}
{% for key,entity in entities %}
    {{ form_start(forms_externalbill[key], {'action': path('intervention_externalbill',{'id':entity.id}), 'attr': {
        'id': 'modalExternalBill' ~ entity.id,
        'class': 'form-horizontal modal hide fade',
        'tabindex': '-1',
        'role': 'dialog',
        'aria-labelledby': 'modalExternalBill' ~ entity.id ~ 'Label',
        'aria-hidden': true
    }}) }}
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="modalExternalBill{{ entity.id }}Label">Numéro de facture externe</h3>
	</div>
	<div class="modal-body">
		{{ form_widget(forms_externalbill[key]) }}
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
		<button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer</button>
	</div>
    {{ form_end(forms_externalbill[key]) }}
{% endfor %}
{% endblock %}
