{% extends '@JLMFront/Form/bootstrap_3_layout.html.twig' %}

{%- block button_widget -%}
    {%- if label is empty -%}
        {% set label = name|humanize %}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
{%- endblock button_widget -%}

{% block form_label %}
{% apply spaceless %}

    {% import _self as macros %}

    {% if label is empty %}
        {% set label = macros.form_parent_name(form) %}
    {% endif %}

    {{ parent() }}

    {%- if required %} *{% endif -%}
{% endapply %}
{% endblock form_label %}

{% macro form_parent_name(form, prefix) %}
{% apply spaceless %}

    {% import _self as macros %}

    {% set prefix = prefix|default(false) %}

    {% if form.parent is empty %}
        {{ form.vars.name }}.labels
    {% else %}
        {% if form.vars.compound and not prefix %}
            {{ macros.form_parent_name(form.parent) }}.{{ form.vars.name }}.label
        {% else %}
            {{ macros.form_parent_name(form.parent, true) }}.{{ form.vars.name }}
        {% endif %}
    {% endif %}

{% endapply %}
{% endmacro %}
