{% set id = 'modalDoorStopEdit' ~ entity.id %}
{% set action = path('daily_door_stopupdate',{'id':entity.id}) %}
{% set title = 'Edition porte à l\'arrêt' %}
{% extends '@JLMDefault/Helpers/modalform.html.twig' %}
{% block body %}
	{% include '@JLMModel/DoorStop/update.html.twig' %}
{% endblock %}
