{% extends "@JLMDefault/layout.html.twig" %}

{% block content %}
<h1>Tableau de bord (beta)</h1>
<div class="row">
<h2>Contrats</h2>
{{ contracts_numbers }} contrats en cours sur {{ contracts_doors }} installations.<br>
{{ contracts_complete }} installations en contrats complet<br>
{{ contracts_normal }} installations en contrats normal<br>

<a href="{{ path('intervention_doorsxls') }}" class="btn">Export interventions</a>

</div>
<div class="row">
	<div class="span6">
		<h2>Quantité</h2>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th></th>
					<th>Dépannages</th>
					<th>Travaux</th>
					<th>Entretiens</th>
					<th>Atl / Frn</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
			{% for tech, datas in numbers if tech != 'total' %}
				<tr>
					<th>{{ tech }}</th>
					<td><div class="text-right">{{ datas.fixing }}</div></td>
					<td><div class="text-right">{{ datas.work }}</div></td>
					<td><div class="text-right">{{ datas.maintenance }}</div></td>
					<td><div class="text-right">{{ datas.equipment }}</div></td>
					<td><div class="text-right">{{ datas.total }}</div></td>
				</tr>
			{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th>Total</th>
					<th><div class="text-right">{{ numbers.total.fixing }}</div></th>
					<th><div class="text-right">{{ numbers.total.work }}</div></th>
					<th><div class="text-right">{{ numbers.total.maintenance }}</div></th>
					<th><div class="text-right">{{ numbers.total.equipment }}</div></th>
					<th><div class="text-right">{{ numbers.total.total }}</div></th>
				</tr>
			</tfoot>
		</table>
		<h2>Temps</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th></th>
					<th>Dépannages</th>
					<th>Travaux</th>
					<th>Entretiens</th>
					<th>Atl / Frn</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
			{% for tech, datas in times if tech != 'total' %}
				<tr>
					<th>{{ tech }}</th>
					<td><div class="text-right">{{ datas.fixing.format('%hh%I') }}</div></td>
					<td><div class="text-right">{{ datas.work.format('%hh%I') }}</div></td>
					<td><div class="text-right">{{ datas.maintenance.format('%hh%I') }}</div></td>
					<td><div class="text-right">{{ datas.equipment.format('%hh%I') }}</div></td>
					<td><div class="text-right">{{ datas.total.format('%hh%I') }}</div></td>
				</tr>
			{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th>Total</th>
					<th><div class="text-right">{{ times.total.fixing.format('%hh%I') }}</div></th>
					<th><div class="text-right">{{ times.total.work.format('%hh%I') }}</div></th>
					<th><div class="text-right">{{ times.total.maintenance.format('%hh%I') }}</div></th>
					<th><div class="text-right">{{ times.total.equipment.format('%hh%I') }}</div></th>
					<th><div class="text-right">{{ times.total.total.format('%hh%I') }}</div></th>
				</tr>
			</tfoot>
		</table>
	</div>
	<div class="span5 well" id="graphTech">
	</div>
</div>
<div class="row">
<div class="span6">
	<h2>Entretiens</h2>
	<div id="graphEvolution"></div>
	</div>
	<div class="span5 well" id="graphMaintenance">
	</div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$(function () {
	// Build the chart
    $('#graphTech').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Temps passé par type d\'intervention'
        },
        tooltip: {
        	formatter : function(){
                return this.point.name + ': <b>' + Math.round(this.point.y/60) + 'h' + this.point.y%60 + '</b>';
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    formatter: function() {
                    	return '<b>'+ this.point.name +'</b>: '+ Math.round(this.percentage*100)/100 +' %';
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Temps passé',
            data: [
                {
                    name : 'Dépannages',
                    color : '#f89406',
                    y : {{ times.total.fixing.format('%h')*60+times.total.fixing.format('%i') }}
                },
                {
                    name : 'Travaux',
					color : '#3a87ad',
                    y : {{ times.total.work.format('%h')*60+times.total.work.format('%i') }}
                },
                {
                    name : 'Entretiens',
                    color : '#999999',
                    y : {{ times.total.maintenance.format('%h')*60+times.total.maintenance.format('%i') }}
                },
                {
                	name : 'Ateliers / Fournisseurs',
                	color : '#333333',
                	y : {{ times.total.equipment.format('%h')*60+times.total.equipment.format('%i') }}
                }
            ]
        }]
    });

    $('#graphMaintenance').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Entretiens'
        },
        tooltip: {
        	formatter : function(){
                return this.point.name + ': <b>' + this.point.y + '</b>';
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    formatter: function() {
                    	return '<b>'+ this.point.name +'</b>: '+ Math.round(this.percentage*100)/100 +' %';
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Temps passé',
            data: [
                {
                    name : 'Fait',
                    color : '#468847',
                    y : {{ maintenanceDoes }}
                },
                {
                    name : 'Pas fait',
					color : '#b94a48',
                    y : {{ maintenanceTotal - maintenanceDoes }}
                }
            ]
        }]
    });

    $('#graphEvolution').highcharts('StockChart', {
    	rangeSelector : {
			selected : 1
		},

		title : {
			text : 'Evolution des entretiens'
		},

		series : [{
			name : 'Evolution des entretiens',
			data : [{% for d,data in evolution %}{% if not loop.first %},{% endif %}{ x:{{ d }},y:{{ data }} }{% endfor %} ],
			type : 'area',
			step : true,
			threshold : null
		},
		{
			name : 'Objectifs d\'entretiens',
			data : [{% for d,data in evolutionBase %}{% if not loop.first %},{% endif %}{ x:{{ d }},y:{{ data }} }{% endfor %} ],
			type : 'line',
			threshold : null

		},
		]
    });
});
</script>
{% endblock %}
