{{ form_start(edit_form, {'action': path('transmittertype_update', { 'id': entity.id }), 'attr': {
	'class': 'form-horizontal modal hide fade',
	'id': 'modalEdit' ~ entity.id,
	'tabindex': '-1',
	'role': 'dialog',
	'aria-labelledby': 'modalEditLabel' ~ entity.id,
	'aria-hidden': 'true'
}}) }}
<form class="form-horizontal modal hide fade" id="modalEdit{{ entity.id }}" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel{{ entity.id }}" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="modalEditLabel{{ entity.id }}">Edition d'un type d'emetteur</h3>
	</div>
	<div class="modal-body">
		{{ form_widget(edit_form) }}
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
		<button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer</button>
	</div>
{{ form_end(edit_form) }}