{% extends '@JLMModel/layout.html.twig' %}
{% block content %}
<h1>Liste des types d'emetteurs</h1>

<ul>
    {% for entity in entities %}
	<li>
		<a href="#modalEdit{{ entity.id }}" role="button" data-toggle="modal">{{ entity.name }}</a>
		{{ render(controller('\\JLM\\ModelBundle\\Controller\\TransmitterTypeController::editAction',{'id':entity.id})) }}
	</li>
    {% endfor %}
</ul>
<div class="form-actions">
<a href="#modalNew" class="btn btn-primary" role="button" data-toggle="modal">{{ 'plus-sign'|icon(true) }} Créer un nouveau type d'emetteur</a>
{{ render(controller('\\JLM\\ModelBundle\\Controller\\TransmitterTypeController::newAction')) }}
</div>
{% endblock %}
