{% extends '@JLMOffice/Askquote/layout.html.twig' %}

{% block content %}
<h1>Demandes de devis</h1>
<table class="table table-stripped">
	<thead>
		<tr>
			<th>Date</th>
			<th>Syndic</th>
			<th>Affaire</th>
			<th>Ctr</th>
			<th>Demande</th>
			<th>Fichier joint</th>
			<th>Etat</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	{% for entity in entities %}
		<tr{% if entity.dontTreat or entity.quotes | length %} class="success"{% elseif entity.maturity < today %} class="error"{% endif %}>
			<td>{{ entity.creation | date('d/m/Y') }}</td>
			<td>{{ entity.trustee }}</td>
			<td>
			{% if entity.door %}
			{% if entity.door.stopped %}<span class="label label-important">Mise à l'arrêt</span><br>{% endif %}
			{{ entity.door.type }} - {{ entity.door.location }}<br>{% endif %}
			{% if entity.site %}
			{% include '@JLMModel/Helpers/address.html.twig' with {'address' : entity.site.address } %}
			{% endif %}</td>
			<td>{% if entity.door %}{{ entity.door.actualContract }}{% endif %}</td>
			<td>
				<strong>Suite à
				{% if entity.intervention is not null %}<a href="{{ path('intervention_redirect',{'id':entity.intervention.id,'act':'show'}) }}">{{ entity.intervention.type|trans }}</a>
				{% else %}demande{% endif %}</strong><br>
				{{ entity.ask | nl2br }}</a>
			</td>
			<td>{% if entity.path %}<a href="/{{ entity.webPath }}" class="btn btn-small">{{ 'file'|icon }}<small>PDF</small></a>{% endif %}</td>
			<td>
				{% if entity.quotes | length %}
				<ul>
					{% for quote in entity.quotes %}
					<li><a href="{{ path('quote_show',{'id':quote.id}) }}">{{ quote.number }}</a></li>	
					{% endfor %}
				</ul>
				{% elseif entity.dontTreat %}
				<small>{{ entity.dontTreat }}</small>
				{% else %}
				<span class="label label-important">Non traitée</span>
				{% if entity.maturity %}<br><small>{{ entity.maturity | date('d/m/Y') }}</small>{% endif %}
				{% endif %}
			</td>
			<td>
				<a href="{{ path('askquote_show',{ 'id':entity.id }) }}" class="btn btn-primary btn-small">Créer devis...</a>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}
