{% extends '@JLMOffice/Askquote/layout.html.twig' %}

{% block content %}
<h1>Nouvelle demande de devis</h1>
{% if form_errors(form) %}
<div class="alert">{{ form_errors(form) }}</div>
{% endif %}
{{ form_start(form, {'action': path('askquote_create'), 'attr': {'class': 'form-horizontal'}}) }}
	<filedset>
    {{ form_widget(form) }}
	    <div class="form-actions">
	    	<button type="submit" class="btn btn-primary">Enregistrer</button>
	    </div>
    </filedset>
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$("body").askquote({
	 autoSource:'{{ path('autocomplete') }}',
	 autoSourceDoor:'{{ path('autocomplete_doorsite') }}'
});
</script>
{% endblock %}
