{% extends '@JLMCommerce/Quote/layout.html.twig' %}

{% block content %}
<h1>Liste des devis à relancer</h1>
<table class="table table-stripped">
    <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Affaire</th>
            <th>Installation</th>
            <th>Syndic</th>
			<th></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in quotes %}
    	<tr>
            <td>
            	<a href="{{ path('quote_show', { 'id': entity.quote.id }) }}">{{ entity.number }}</a><br>
            	{{ entity|quote_state_label }}
            </td>
            <td>{% if entity.creation %}{{ entity.creation|date('d/m/Y') }}{% endif %}</td>
            <td>
            {% if entity.quote.door %}<strong>{{ entity.quote.door.site.address.city.name | upper }}</strong> <small>{{ entity.quote.door.site.address.city.zip }}</small><br>{{ entity.quote.door.street | nl2br }}
            {% else %}{{ entity.quote.doorCp | nl2br}}
            {% endif %}
            </td>
            <td>{% if entity.quote.door %}{{ entity.quote.door.type }}<br>{{ entity.quote.door.location }}{% endif %}</td>
            <td>{{ entity.quote.trusteeName }}</td>
            <td>{{ entity.totalPrice }} €</td>
            <td>
                <a href="{{ path('quote_show', { 'id': entity.quote.id }) }}" class="btn">{{ 'eye-open'|icon }}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
