{% extends '@JLMCommerce/Quote/layout.html.twig' %}

{% block content %}
<h1>Devis <small>{{ entity.number }}</small></h1>
{% include '@JLMCommerce/Quote/showheader.html.twig' with {'quote': entity.quote} %}
{{ form(form) }}
{% endblock %}
