{% extends '@JLMCommerce/Quote/layout.html.twig' %}

{% block content %}
<h1>Devis <small>{{ entity.number }}</small></h1>
{{ form(edit_form) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$("body").quote({
	 autoSource:'{{ path('autocomplete') }}'
});
</script>
{% endblock %}
