{% extends '@JLMOffice/layout.html.twig' %}
{% block sidebar %}
	<li><h4>Devis</h4></li>
	<li>{{ form(search.form, {'action': path('quote_search')}) }}</li>
	<li><a href="{{ path('askquote_new') }}">{{ 'plus-sign'|icon }} Nouvelle demande de devis</a></li>
	<li class="divider"></li>
	<li class="nav-header">États</li>
 	{% include '@JLMCommerce/Quote/sidebar.html.twig' %}
	<li class="divider"></li>
	<li class="nav-header">Derniers devis</li>
	{% include '@JLMCommerce/Quote/last.html.twig' %}
{% endblock sidebar %}
