{% extends '@JLMCommerce/Quote/layout.html.twig' %}
{% block content %}
<h1>Envoyer un devis par e-mail</h1>
	{{ form_start(form, {'action': path('quote_sendmail',{'id': entity.id }), 'attr': {'class': 'form-horizontal'}}) }}
    <fieldset>
		{{ form_widget(form) }}
		<div class="control-group">
			<label class="control-label required">Pièces jointes</label>
			<div class="controls">
				<div class="input-prepend">
					<span class="add-on">{{ 'file'|icon }}</span>
					<span class="input-xlarge uneditable-input">
		{% for variant in entity.variants %}
		{% if variant.state > 0 %}
		{{ variant.number }}.pdf {% endif %}{% endfor %}
		{% if entity.vat == entity.vatTransmitter %}attestation.pdf{% endif %}</span>
				</div>
			</div>
		</div>
		<div class="form-actions">
		   <button type="submit" class="btn btn-primary">{{ 'share-alt'|icon(true) }} Envoyer</button>
		</div>
	</fieldset>
	{{ form_end(form) }}
{% endblock %}
