{% extends '@JLMCommerce/Quote/layout.html.twig' %}

{% block content %}
	<h1>Nouveau devis</h1>
	{{ form_start(form) }}
	<div class="row_fluid clearfix">
		<div class="span6 well">
			{{ form_row(form.follower) }}
			{{ form_row(form.followerCp) }}
			{{ form_row(form.door) }}
			{{ form_row(form.doorCp) }}
			{{ form_row(form.vat) }}
			{{ form_row(form.vatTransmitter) }}
		</div>
		<div class="span6">
			{{ form_row(form.creation) }}
			{{ form_row(form.trustee) }}
			{{ form_row(form.trusteeName) }}
			{{ form_row(form.trusteeAddress) }}
			{{ form_row(form.contact) }}
			{{ form_row(form.contactCp) }}
		</div>
	</div>
	<div class="row_fluid">
		<div class="span12">
			{{ form_row(form.description, {'attr':{'class':'input-xxlarge'}}) }}
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$("body").quote({
	 autoSource:'{{ path('autocomplete') }}'
});
</script>
{% endblock %}
