{% extends '@JLMCommerce/Quote/layout.html.twig' %}

{% block content %}
<h1>Résultats de la recherche pour "{{ query }}"</h1>
{% if results|length %}
<table class="table table-stripped">
	<thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Suivi par</th>
            <th>Affaire</th>
            <th>Syndic</th>
            <th>Var.</th>
			<th></th>
        </tr>
    </thead>
     <tbody>
    {% for entity in results %}
        <tr>
            <td>
            	<a href="{{ path('quote_show', { 'id': entity.id }) }}">{{ entity.number }}</a><br>
            	{{ entity|quote_state_label }}
            </td>
            <td>{% if entity.creation %}{{ entity.creation|date('d/m/Y') }}{% endif %}</td>
            <td>{{ entity.followerCp }}</td>
            <td>{{ entity.doorCp | nl2br }}</td>
            <td>{{ entity.trusteeName }}</td>
            <td>{{ entity.variants|length }}</td>
            <td>
                <a href="{{ path('quote_show', { 'id': entity.id }) }}" class="btn">{{ 'eye-open'|icon }}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<h2><small>Aucun résultat</small></h2>
{% endif %}
{% endblock %}
