{% extends '@JLMCommerce/Quote/layout.html.twig' %}

{% block content %}
<h1>Devis <small>{{ entity.number }}</small></h1>
{% include '@JLMCommerce/Quote/stateheader.html.twig' with {'state': entity.state} %}
{% include '@JLMCommerce/Quote/showheader.html.twig' with {'quote': entity} %}
<div class="form-actions">
{% if entity.ask %}
	<a href="{{ path('askquote_show',{'id':entity.ask.id}) }}" class="btn">{{ 'arrow-left'|icon }} Voir la demande</a>
{% endif %}
	<a href="{{ path('quote_jacket',{ 'id' : entity.id }) }}" class="btn btn-info">{{ 'print'|icon(true) }} Imprimer la chemise</a>
{% if entity.variants|length > 0 %}	
	<a href="{{ path('quote_print',{ 'id' : entity.id }) }}" class="btn btn-info">{{ 'print'|icon(true) }} Imprimer tout</a>	
{% endif %}
{% if entity.state == 0 %}
	<a href="{{ path('quote_edit', { 'id': entity.id }) }}" class="btn btn-warning">{{ 'pencil'|icon(true) }} Editer</a>
{% else %}
<a href="{{ path('quote_mail',{ 'id' : entity.id }) }}" class="btn btn-info">{{ 'envelope'|icon(true) }} Envoyer tout par mail</a>
{% endif %}

	<a href="{{ path('variant_new',{ 'quote' : entity.id }) }}" class="btn btn-success">{{ 'plus-sign'|icon(true) }} Ajouter une variante</a>
</div>


<ul id="variants" class="nav nav-tabs">
	{% for variant in entity.variants %}
    <li{% if loop.first %} class="active"{% endif %}>
        <a href="#variant-{{ variant.number }}" data-toggle="tab">{{ variant.number }}
        {{ variant|quote_state_label }}
         </a>
    </li>
    {% endfor %}
</ul>
{%  if entity.variants | length %}
<div id="variantsContent" class="tab-content">
{% for variant in entity.variants %}
    <div class="tab-pane fade{% if loop.first %} active in{% endif %}" id="variant-{{ variant.number }}">
		{% include '@JLMCommerce/QuoteVariant/show.html.twig' with {'variant': variant} %}
	</div>
{% endfor %}
</div>
{% else %}
<p>Pas encore de devis</p>
{% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$("body").quotevariant();
</script>
{% endblock %}
