{{ form_start(form, {'action': action|default('#'), 'attr': {
	'class': 'form-horizontal modal hide fade',
	'id': id|default('modal'),
	'tabindex': '-1',
	'role': 'dialog',
	'aria-labelledby': id|default('modal') ~ 'Label',
	'aria-hidden': 'true'
}}) }}
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="{{ id|default('modal') }}Label">{{ title|default('Modale') }}</h3>
	</div>
	<div class="modal-body">
	{% block body %}
		{{ form_widget(form) }}
	{% endblock %} 
	</div>
	<div class="modal-footer">
	{% block footer %}
		<button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
		<button class="btn btn-primary" type="submit" name="submit">{{ 'pencil'|icon(true) }} Enregistrer</button>
	{% endblock %}
	</div>
{{ form_end(form) }}