{% extends 'form_div_layout.html.twig' %}

{% block form_label %}
{% apply spaceless %}
	{% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label')|trim}) %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
{% endapply %}
{% endblock form_label %}

{% block form_widget_compound %}
{% apply spaceless %}
    <div {{ block('widget_container_attributes') }}>
        {% if form.parent is empty %}
        	{% if form_errors(form) %}
            <div class="alert">{{ form_errors(form) }}</div>
            {% endif %}
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
    </div>
{% endapply %}
{% endblock form_widget_compound %}


{% block form_row %}
{% apply spaceless %}
    {% set type = type|default('text') %}
	<div class="control-group{% if form_errors(form) %} error{% endif %}">
		{{ form_label(form, label|default(null)) }}
		<div class="controls">
            {{ form_widget(form) }}
            {% if form_errors(form) %}<span class="help-inline">{{ form_errors(form) }}</span>{% endif %}
        </div>
    </div>
{% endapply %}
{% endblock form_row %}

{% block collection_widget %}
{% apply spaceless %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
    {% endif %}
    <tbody {{ block('widget_container_attributes') }}>
		{{ block('form_rows') }}
    </tbody>
	{{ form_rest(form) }}
{% endapply %}
{% endblock collection_widget %}

{% block choice_widget_expanded %}
{% apply spaceless %}
{% form_theme form '@JLMModel/Form/choices.html.twig' %}
    {% for child in form %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' checkbox inline' }) %}
        <label {{ block('widget_container_attributes') }}>
            {{ form_widget(child) }}
            {{ form_label(child) }}
        </label>
        {% endfor %}
{% endapply %}
{% endblock choice_widget_expanded %}

{% block money_widget %}
{% apply spaceless %}
	{% set attr = attr|merge({'class': attr.class|default('') ~ ' input-money' }) %}
    <div class="input-append">{{ block('form_widget_simple') }}<span class="add-on">€</span></div>
{% endapply %}
{% endblock money_widget %}

{% block search_widget %}
{% apply spaceless %}
    {% set type = type|default('search') %}
    {{ block('form_widget_simple') }}
{% endapply %}
{% endblock search_widget %}

{% block percent_widget %}
{% apply spaceless %}
    {% set type = type|default('text') %}
    <div class="input-append">{{ block('form_widget_simple') }}<span class="add-on">%</span></div>
{% endapply %}
{% endblock percent_widget %}

{% block email_widget %}
{% apply spaceless %}
	<div class="input-prepend">
<span class="add-on">{{ 'envelope'|icon }}</span>{{ block('form_widget_simple') }}</div>
{% endapply %}
{% endblock email_widget %}

{% block button_widget %}
  {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn')|trim}) %}
  {{ parent() }}
{% endblock %}

{% block submit_widget %}
  {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn-primary')|trim}) %}
  {{ parent() }}
{% endblock %}

{% block reset_widget %}
  {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn-danger')|trim}) %}
  {{ parent() }}
{% endblock %}

{% block distance_widget %}
{% apply spaceless %}
<div class="input-append">{{ block('form_widget') }}<span class="add-on">mm</span></div>
{% endapply %}
{% endblock distance_widget %}

{% block datetime_widget %}
{% apply spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form.date) }}
            {{ form_errors(form.time) }}
            {{ form_widget(form.date) }} à 
            {{ form_widget(form.time) }}
        </div>
    {% endif %}
{% endapply %}
{% endblock datetime_widget %}

{% block date_widget %}
{% apply spaceless %}
    {% if widget == 'single_text' %}
    	{% set attr = attr|merge({'class': attr.class|default('') ~ ' input-small datepicker' }) %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
            })|raw }}
        </div>
    {% endif %}
{% endapply %}
{% endblock date_widget %}

{% block time_widget %}
{% apply spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
            {{ form_widget(form.hour, { 'attr': { 'size': '1', 'class' : 'input-mini' } }) }} h {{ form_widget(form.minute, { 'attr': { 'size': '1', 'class' : 'input-mini' } }) }}{% if with_seconds %}:{{ form_widget(form.second, { 'attr': { 'size': '1' } }) }}{% endif %}
    {% endif %}
{% endapply %}
{% endblock time_widget %}

{% block jlm_default_search_widget %}
{{ form_widget(form.query) }}
{{ form_rest(form) }}
{% endblock %}

{% block datepicker_widget %}
{% apply spaceless %}
<div class="input-prepend"><span class="add-on">{{ 'calendar'|icon }}</span>{{ block('form_widget_simple') }}</div>
{% endapply %}
{% endblock datepicker_widget %}

{% block form_start -%}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-horizontal')|trim }) %}
    {{ parent() }}
{%- endblock form_start %}
