{% extends '@JLMModel/layout.html.twig' %}
{% form_theme edit_form '@JLMModel/Form/fee.html.twig' %}
{% block content %}
<h1>Edition redevance</h1>
{{ form_start(edit_form, {'action': path('fee_update', { 'id': entity.id }), 'attr': {'class': 'form-horizontal'}}) }}
    {{ form_widget(edit_form) }}
    <div class="form-actions">
	   <a href="{{ path('fee_show',{'id':entity.id}) }}" class="btn">{{ 'arrow-left'|icon }} Retour à la fiche redevance</a>
	   <button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer les modifications</button>
	</div>
{{ form_end(edit_form) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$("body").fee({
	 autoSource:'{{ path('autocomplete') }}',
	 lineCount:{{ edit_form.contracts | length }},
});
</script>
{% endblock %}
