{% extends '@JLMModel/layout.html.twig' %}
{% block content %}
<h1>Liste des redevances</h1>

<table class="table table-stripped">
    <thead>
        <tr>
            <th>Syndic</th>
            <th>Adresse de l'affaire</th>
            <th>Contrats</th>
            <th>Fréquence</th>
            <th>Montant</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('fee_show', { 'id': entity.id }) }}">{{ entity.trustee }}</a></td>
            <td>{{ entity.address | nl2br }}</td>
            <td>
            	<ul>
            	{% for contract in entity.contracts %}
            		<li>{{ contract.number }} ({{ contract }})</li>
            	{% endfor %}
            	</ul>
            </td>
            <td>{{ entity.frequence }}</td>
            <td>{{ entity.amount | number_format(2,',',' ')}} €</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="pagination pagination-centered">
	    <ul>
		    <li class="disabled"><a href="#">«</a></li>
		    <li class="active"><a href="#">1</a></li>
		    <li class="disabled"><a href="#">»</a></li>
	    </ul>
    </div>
<div class="form-actions">
<a href="{{ path('fee_new') }}" class="btn btn-primary">{{ 'plus-sign'|icon(true) }} Créer une nouvelle redevance</a>
</div>
{% endblock %}
