{% extends '@JLMModel/layout.html.twig' %}
{% form_theme form with '@JLMModel/Form/fee.html.twig' %}
{% block content %}
<h1>Nouvelle redevance</h1>
{{ form_start(form, {'action': path('fee_create'), 'attr': {'class': 'form-horizontal'}}) }}
	{{ form_widget(form) }}
    <div class="form-actions">
	   <a href="{{ path('fee') }}" class="btn">{{ 'arrow-left'|icon }} Retour à la liste</a>
	   <button type="submit" class="btn btn-primary">{{ 'plus-sign'|icon(true) }} Créer</button>
	</div>
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$("body").fee({
	 autoSource:'{{ path('autocomplete') }}',
	 lineCount:{{ form.contracts | length }},
});
</script>
{% endblock %}
