{% extends '@JLMContact/layout.html.twig' %}

{% block content %}
{%  if image is defined %}
<img src="/{{ entity.image }}" width="100" height="100">
{% endif %}
{{ entity.name }}<br>
{% if entity.address %}
<address>
  {{ entity.address.street }}<br>
  {{ entity.address.city }}
</address>
{% endif %}
<ul>
{% for phone in entity.phones %}
  <li>{{ phone }}</li>
{% endfor %}
</ul>

<a href="mailto:{{ entity.email }}">{{ entity.email }}</a><br>

{% block special %}
{% endblock %}

<a href="{{ path('jlm_contact_contact_edit', {'id':entity.id}) }}" class="btn btn-warning">Editer</a>
{% endblock %}
