{% extends '@JLMTransmitter/Attribution/layout.html.twig' %}

{% block content %}
	<h1>Résultats de la recherche</h1>
	{% if asks|length %}
		<h1><small>Demandes</small></h1>
		{% include '@JLMTransmitter/Ask/list_table.html.twig' with {'entities':asks} %}
	{% endif %}
	{% if transmitters|length %}
		<h1><small>Emetteurs</small></h1>
		{% include '@JLMTransmitter/Transmitter/search.html.twig' with {'transmitters':transmitters} %}
	{% endif %}
{% endblock %}
