{% set id = 'modalEditTransmitter' ~ entity.id %}
{% set action = path('transmitter_update', { 'id': entity.id }) %}
{% set title = 'Émetteur n°' ~ entity.number %}
{% extends '@JLMDefault/Helpers/modalform.html.twig' %}
{% block body %}
	{% include '@JLMTransmitter/Transmitter/create.html.twig' %}
{% endblock %}
