{% set id = 'modalNewTransmitter' %}
{% set action = path('transmitter_create',{'id':entity.attribution.id}) %}
{% set title = 'Nouvel émetteur' %}
{% extends '@JLMDefault/Helpers/modalform.html.twig' %}
{% block body %}
	{% include '@JLMTransmitter/Transmitter/create.html.twig' %}
{% endblock %}
