{% set id = 'modalNewUserGroup' %}
{% set action = path('transmitter_usergroup_create') %}
{% set title = 'Nouveau groupe utilisateur' %}
{% extends '@JLMDefault/Helpers/modalform.html.twig' %}
{% block body %}
	{% include '@JLMTransmitter/UserGroup/create.html.twig' %}
{% endblock %}

