{% extends '@JLMModel/layout.html.twig' %}
{% block content %}
<h1>Nouvelle affaire</h1>
{% if  form_errors(form) %}
<div class="alert"><strong>Erreurs</strong> : {{ form_errors(form) }}</div>
{% endif %}
{{ form_start(form, {'action': path('site_create'), 'attr': {'class': 'form-horizontal'}}) }}
<fieldset>
{{ form_widget(form) }}
    <div class="form-actions">
	   <a href="{{ path('site') }}" class="btn">{{ 'arrow-left'|icon }} Retour à la liste</a>
	   <button type="submit" class="btn btn-primary">{{ 'plus-sign'|icon(true) }} Créer</button>
	</div>
</fieldset>
{% endblock %}
