{% extends '@JLMModel/layout.html.twig' %}
{% block content %}
<h1>Fiche affaire</h1>
<div class="row-fluid">
	<div class="span4">
		<h4>{% include '@JLMModel/Helpers/address.html.twig' with {'address':entity.address} %}</h4>
	</div>
	<div class="span4">
		{% if entity.accession %}Accession
		{% else %}Social
		{% endif %}
		<br>TVA : {{ entity.vat }}
	</div>
	<div class="span4 well">
		<address>
			<strong>Adresse de facturation</strong>
			 <br>{{ entity.trustee }}
			{% if entity.trustee.billingaddress %}
			<br>{% include '@JLMModel/Helpers/address.html.twig' with {'address':entity.trustee.billingAddress} %}
			{% else %}
			<br>{% include '@JLMModel/Helpers/address.html.twig' with {'address':entity.trustee.address} %}
			{% endif %}
		</address>
	</div>
</div>
{% include '@JLMModel/Door/list.html.twig' with {'doors': entity.doors } %}
<a href="{{ path('door_new_id', { 'id': entity.id }) }}" class="btn btn-success">{{ 'plus-sign'|icon(true) }} Nouvelle porte</a>
{% if entity.contacts|length > 0 %}
<h2>Interlocuteurs</h2>
<table class="table table-stripped">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Rôle</th>
			<th>Téléphone</th>
			<th>e-mail</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for contact in entity.contacts %}
		<tr>
			<td><a href="{{ path('sitecontact_show',{'id':contact.id}) }}">{{ contact.person.name }}</a></td>
			<td>{{ contact.role }}</td>
			<td>
				<ul class="unstyled">
				{% for phone in contact.person.phones %}
				<li>{{ phone.label }} : {% include '@JLMModel/Helpers/phone.html.twig' with {'phone' : phone.number } %}</li>
				{% endfor %}
				</ul>
			</td>
			<td><a href="mailto:{{ contact.person.email }}">{{ contact.person.email }}</a></td>
			<td><form method="post" action="{{ path('sitecontact_delete', { 'id':contact.id }) }}"><button type="submit" class="btn btn-danger">{{ 'remove'|icon(true) }}</button></form></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<h2><small>Aucun interlocuteur</small></h2>
{% endif %}
	<a href="{{ path('sitecontact_new_id', { 'id': entity.id }) }}" class="btn btn-info">{{ 'user'|icon(true) }} Nouvel interlocuteur</a>

<div class="form-actions">
	<a href="{{ path('trustee_show', { 'id': entity.trustee.id }) }}" class="btn">{{ 'arrow-left'|icon }} Retour à la fiche syndic</a>
	<a href="{{ path('site_edit', { 'id': entity.id }) }}" class="btn btn-warning">{{ 'pencil'|icon(true) }} Editer</a>
</div>
{% endblock %}
