{# @JLMDaily/Fixing/new.html.twig #}
{% extends '@JLMDaily/layout.html.twig' %}

{% block content %}
<h1>Nouvelle travaux</h1>
{% if entity.quote %}
<h4>Devis {{ entity.quote.number }}</h4>
{% endif %}
{{ form_start(form, {'action': path('work_create'), 'attr': {'class': 'form-horizontal'}}) }}
<fieldset>
{{ form_widget(form) }}
    <div class="form-actions">
	   <a href="{{ path('work_list') }}" class="btn">{{ 'arrow-left'|icon }} Retour à la liste</a>
	   <button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Valider les nouveaux traveaux</button>
	</div>
	</fieldset>
{{ form_end(form) }}
{% endblock %}
