{# @JLMDaily/Work/show.html.twig #}
{% extends '@JLMDaily/Intervention/show.html.twig' %}

{% block officeaction %}
	{% if entity.objective.id == 1 %}
		{% set preferbill = 1 %}
	{% else %}
		{% set preferbill = 0 %}
	{% endif %}
	{{ parent() }}
{% endblock %}

{% block reference %}
		<small>{{ entity.category }} - {{ entity.objective }}</small>
		{% if entity.intervention %}D'après l'invervention du <a href="{{ path('intervention_redirect',{'id':entity.intervention.id ,'act':'show'}) }}">{{ entity.intervention.lastDate|date('d/m/Y') }}</a><br>{% endif %} 
	 	{% if entity.quote %}Selon devis n°<a href="{{ path('quote_show',{'id':entity.quote.quote.id}) }}">{{ entity.quote.number }}</a><br>{% endif %}
{% endblock %}

{% block edit_button %}
<a href="{{ path('work_edit', { 'id': entity.id }) }}" class="btn btn-small">{{ 'pencil'|icon }} Editer</a>
	{% if not entity.canceled %}
		{% if entity.order %}<a href="{{ path('order_show',{'id': entity.order.id }) }}" class="btn btn-info btn-small">Voir la fiche matériel</a>
		{% else %}<a href="{{ path('order_new',{'id': entity.id }) }}" class="btn btn-info btn-small">Créer la fiche matériel</a>
		{% endif %}
	{% endif %}
<div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        E-mails client
        <span class="caret"></span>
      </a>
          <ul class="dropdown-menu">
      		<li><a tabindex="-1" href="{{ path('work_email',{'id':entity.id,'step':'planned'}) }}">Travaux plannifiés</a></li>
            <li><a tabindex="-1" href="{{ path('work_email',{'id':entity.id,'step':'onsite'}) }}">Technicien sur site</a></li>
            <li><a tabindex="-1" href="{{ path('work_email',{'id':entity.id,'step':'end'}) }}">Fin des travaux</a></li>
         </ul>
    </div>
{% endblock %}

{% block close_button %}
	<a href="#modalClose{{ entity.id }}" role="button" data-toggle="modal" class="btn btn-small btn-primary">{{ 'ok'|icon(true) }} {% if not entity.closed %}Cloturer{% else %}Editer{% endif %}</a>
	{{ render(controller('\\JLM\\DailyBundle\\Controller\\WorkController::closeAction',{'id':entity.id})) }}
{% endblock %}

{% block actions %}
	{% if entity.intervention or entity.quote %}
		{% if entity.canceled %}
			<a href="{{ path('intervention_uncancel',{'id':entity.id}) }}" class="btn btn-inverse">Désannuler</a>
		{% else %}
			<a href="#modalCancel{{ entity.id }}" role="button" data-toggle="modal" class="btn btn-danger">{{ 'remove'|icon(true) }} Annuler</a>
			{{ form_start(form_cancel, {'action': {{ path('intervention_cancel',{'id':entity.id}) }}, 'attr': {
				'class': 'form-horizontal modal hide fade',
				'id': 'modalCancel' ~ entity.id,
				'tabindex': '-1',
				'role': 'dialog',
				'aria-labelledby': 'modalCancel' ~ entity.id ~ 'Label',
				'aria-hidden': 'true'
			}}) }}
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="modalCancel{{ entity.id }}Label">Annuler l'intervention</h3>
				</div>
				<div class="modal-body">
					{{ form_widget(form_cancel) }}
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
					<button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer</a>
				</div>
			{{ form_end(form_cancel) }}
		{% endif %}
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}
