{% extends '@JLMState/layout.html.twig' %}

{% block sidebar %}
<ul class="nav nav-pills nav-stacked">
{% for y in 2013..maxyear %}
<li{%- if y == year %} class="active"{%- endif -%}>
  <a href="{{ path('state_doortypes',{'year':y}) }}">{{ y }}</a>
</li>
{% endfor %}
</ul>
{% endblock %}

{% block content %}
<h1>Types d'installation sous contrat</h1>
<table class="table">
	<thead>
		<tr>
			<th>Type de porte</th>
			<th>Nombre sous contrat</th>
			<th>Nombre d'interventions</th>
			<th>Complet</th>
			<th>Normaux</th>
			<th>HC</th>
			<th>Moyenne d'intervention / install.</th>
			<th>Temps passé total</th>
			<th>Temps moyen passé / install.</th>
		</tr>
	</thead>
	<tbody>
		{% for name,data in datas %}
		<tr>
			<td>{{ name }}</td>
			<td>{{ data.nb }}</td>
			<td>{{ data.intervs }}</td>
			<td>{{ data.intC }}</td>
			<td>{{ data.intN }}</td>
			<td>{{ data.intHC }}</td>
			<td>{{ data.moyintervs|number_format(2, ',', ' ')}}</td>
			<td>{{ data.time|date('%hh%I') }}</td>
			<td>{{ data.moytime|date('%hh%I') }}</td>
		</tr>
	</tbody>
		{% endfor %}
	<tfoot>
		<tr>
			<th>Total</th>
			<th>{{ tot }}</th>
			<th>{{ totinter }}</th>
			<th>{{ totC }}</th>
			<th>{{ totN }}</th>
			<th>{{ totHC }}</th>
			<th>{{ moytot|number_format(2, ',', ' ') }}</th>
			<th>{{ tottime|date('%hh%I') }}</th>
			<th>{{ moytime|date('%hh%I') }}</th>
		</tr>
	</tfoot>
</table>
{% endblock %}
