{% extends '@JLMCommerce/Bill/layout.html.twig' %}
{% block content %}
<h1>{{ title }}</h1>
<h2>Chiffre d'affaire : {{ caht }} € HT ( {{ caati }} € TTC )</h2>
{% include '@JLMCommerce/Bill/list.html.twig' with {'entities':entities} %}
{% endblock %}
