{% extends '@JLMState/layout.html.twig' %}

{% block content %}
<h1>Stats Entretiens</h1>
<div class="row">
<div class="span6">
	<div id="graphEvolution"></div>
	</div>
	<div class="span5 well" id="graphMaintenance">
	</div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$(function () {
    $('#graphEvolution').highcharts('StockChart', {
        chart: {
        	alignTicks: false
        },
        rangeSelector: {
            selected: 1
        },
		title : {
			text : 'Evolution des entretiens'
		},

		series : [{
			    type: 'column',
				name : 'Evolution des entretiens',
				data : [{% for d,data in evolution %}{% if not loop.first %},{% endif %}{ x:{{ d * 1000 }},y:{{ data }} }{% endfor %} ],
				dataGrouping: {
					units: [[
		                        'week', // unit name
		                        [2] // allowed multiples
		                    ], [
		                        'month',
		                        [1, 2, 3, 4, 6]
		                    ]]
                }
			}
		]
    });
});
</script>
{% endblock %}
