{% extends '@JLMState/layout.html.twig' %}

{% block sidebar %}
{% for y in 2013.."now"|date("Y") %}
<li><a href="{{ path('state_technicians_year',{'year':y}) }}">{{ y }}</a></li>
{% endfor %}
{% endblock %}

{% block content %}
<h1>Stats techniciens {{ year }}</h1>
<ul class="nav nav-pills">
	<li class="active"><a href="#quantity" data-toggle="tab">Quantité</a></li>
	<li><a href="#time" data-toggle="tab">Temps</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="quantity">
		<ul class="nav nav-tabs">
		{% for key, datas in numbers %}
    		<li{% if loop.first %} class="active"{% endif %}><a href="#quantity-{{ key|lower }}" data-toggle="tab">{{ key | trans }}</a></li>
    	{% endfor %}
    	</ul>
    	<div class="tab-content">
    	{% for key, onumbers in numbers %}
			<div class="tab-pane{% if loop.first %} active{% endif %}" id="quantity-{{ key|lower }}">
				<div class="row-fluid">
					<div class="span6">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th></th>
									<th>Dépannages</th>
									<th>Travaux</th>
									<th>Entretiens</th>
									<th>Atl / Frn</th>
									<th>Total</th>
								</tr>
							</thead>
							<tbody>
							{% for tech, datas in onumbers if tech != 'total' %}
								<tr>
									<th>{{ tech }}</th>
									<td><div class="text-right">{{ datas.fixing }}</div></td>
									<td><div class="text-right">{{ datas.work }}</div></td>
									<td><div class="text-right">{{ datas.maintenance }}</div></td>
									<td><div class="text-right">{{ datas.equipment }}</div></td>
									<td><div class="text-right">{{ datas.total }}</div></td>
								</tr>
							{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<th>Total</th>
									<th><div class="text-right">{{ onumbers.total.fixing }}</div></th>
									<th><div class="text-right">{{ onumbers.total.work }}</div></th>
									<th><div class="text-right">{{ onumbers.total.maintenance }}</div></th>
									<th><div class="text-right">{{ onumbers.total.equipment }}</div></th>
									<th><div class="text-right">{{ onumbers.total.total }}</div></th>
								</tr>
							</tfoot>
						</table>
					</div>
					<div class="span6"></div>
				</div>
			</div>
			{% endfor %}
				</div>
			</div>
			<div class="tab-pane" id="time">
				<ul class="nav nav-tabs">
					{% for key, datas in times %}
			    		<li{% if loop.first %} class="active"{% endif %}><a href="#times-{{ key|lower }}" data-toggle="tab">{{ key | trans }}</a></li>
			    		{% endfor %}
			    		</ul>
			    		<div class="tab-content">
			    		{% for key, otimes in times %}
			<div class="tab-pane{% if loop.first %} active{% endif %}" id="times-{{ key|lower }}">
				<div class="row-fluid">
					<div class="span6">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th></th>
									<th>Dépannages</th>
									<th>Travaux</th>
									<th>Entretiens</th>
									<th>Atl / Frn</th>
									<th>Total</th>
								</tr>
							</thead>
							<tbody>
							{% for tech, datas in otimes if tech != 'total' %}
								<tr>
									<th>{{ tech }}</th>
									<td><div class="text-right">{{ datas.fixing.format('%hh%I') }}</div></td>
									<td><div class="text-right">{{ datas.work.format('%hh%I') }}</div></td>
									<td><div class="text-right">{{ datas.maintenance.format('%hh%I') }}</div></td>
									<td><div class="text-right">{{ datas.equipment.format('%hh%I') }}</div></td>
									<td><div class="text-right">{{ datas.total.format('%hh%I') }}</div></td>
								</tr>
							{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<th>Total</th>
									<th><div class="text-right">{{ otimes.total.fixing.format('%hh%I') }}</div></th>
									<th><div class="text-right">{{ otimes.total.work.format('%hh%I') }}</div></th>
									<th><div class="text-right">{{ otimes.total.maintenance.format('%hh%I') }}</div></th>
									<th><div class="text-right">{{ otimes.total.equipment.format('%hh%I') }}</div></th>
									<th><div class="text-right">{{ otimes.total.total.format('%hh%I') }}</div></th>
								</tr>
							</tfoot>
						</table>
					</div>
					<div id="graphTech-{{ key|lower }}" class="span6"></div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<div id="evoltype"></div>
<div id="evoltimetype"></div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$(function () {
	{% for period, otimes in times %}
    $('#graphTech-{{ period|lower }}').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Temps passé par type d\'intervention'
        },
        tooltip: {
        	formatter : function(){
                return this.point.name + ': <b>' + Math.floor(this.point.y/60) + 'h' + this.point.y%60 + '</b>';
            }  
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    formatter: function() {
                    	return '<b>'+ this.point.name +'</b>: '+ Math.round(this.percentage*100)/100 +' %';
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Temps passé',
            data: [
                {
                    name : 'Dépannages',
                    color : '#f89406', 
                    y : {{ otimes.total.fixing.format('%h')*60+otimes.total.fixing.format('%i') }}
                },
                {
                    name : 'Travaux',
					color : '#3a87ad',
                    y : {{ otimes.total.work.format('%h')*60+otimes.total.work.format('%i') }}
                },
                {
                    name : 'Entretiens',
                    color : '#999999',
                    y : {{ otimes.total.maintenance.format('%h')*60+otimes.total.maintenance.format('%i') }}
                },
                {
                	name : 'Ateliers / Fournisseurs',
                	color : '#333333',
                	y : {{ otimes.total.equipment.format('%h')*60+otimes.total.equipment.format('%i') }}
                }
            ]
        }]
    });
    {% endfor %}

    $('#evoltype').highcharts({
        title: {
            text: 'Evolution des types d\'interventions',
            x: -20 //center
        },
        subtitle: {
            text: 'Année {{ year }}',
            x: -20
        },
        tooltip: {
            shared: true
          
        },
        plotOptions: {
            area: {
                stacking: 'normal',
                lineColor: '#666666',
                lineWidth: 1,
                marker: {
                    lineWidth: 1,
                    lineColor: '#666666'
                }
            }
        },
        xAxis: {
            categories: ['Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Juin',
                'Juil', 'Aou', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'Nombre'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
        	name : 'Ateliers / Fournisseurs',
        	color : '#333333',
        	type : 'area',
            data: [{% for period, onumbers in numbers %}{% if period != 'Year' %}{{ onumbers.total.equipment }}{% if not loop.last %},{% endif %}{% endif %}{% endfor %}]
        }, {
        	name : 'Travaux',
        	color : '#3a87ad',
        	type : 'area',
            data: [{% for period, onumbers in numbers %}{% if period != 'Year' %}{{ onumbers.total.work }}{% if not loop.last %},{% endif %}{% endif %}{% endfor %}]
        }, {
        	name : 'Entretiens',
        	color : '#999999',
        	type : 'area',
            data: [{% for period, onumbers in numbers %}{% if period != 'Year' %}{{ onumbers.total.maintenance }}{% if not loop.last %},{% endif %}{% endif %}{% endfor %}]
        },{
        	name : 'Dépannages',
        	color : '#f89406',
        	type : 'area',
            data: [{% for period, onumbers in numbers %}{% if period != 'Year' %}{{ onumbers.total.fixing }}{% if not loop.last %},{% endif %}{% endif %}{% endfor %}],
        }]
    });
    $('#evoltimetype').highcharts({
        title: {
            text: 'Evolution des temps d\'interventions',
            x: -20 //center
        },
        subtitle: {
            text: 'Année {{ year }}',
            x: -20
        },
        xAxis: {
            categories: ['Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Juin',
                'Juil', 'Aou', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'Minutes'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            shared: true
          
        },
        plotOptions: {
            area: {
                stacking: 'normal',
                lineColor: '#666666',
                lineWidth: 1,
                marker: {
                    lineWidth: 1,
                    lineColor: '#666666'
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
        	name : 'Ateliers / Fournisseurs',
        	color : '#333333',
        	type : 'area',
            data: [{% for period, otimes in times %}{% if period != 'Year' %}{{ otimes.total.equipment.format('%h')*60+otimes.total.equipment.format('%i') }}{% if not loop.last %},{% endif %}{% endif %}{% endfor %}]
        }, {
        	name : 'Travaux',
        	color : '#3a87ad',
        	type : 'area',
            data: [{% for period, otimes in times %}{% if period != 'Year' %}{{ otimes.total.work.format('%h')*60+otimes.total.work.format('%i') }}{% if not loop.last %},{% endif %}{% endif %}{% endfor %}]
        }, {
        	name : 'Entretiens',
        	color : '#999999',
        	type : 'area',
            data: [{% for period, otimes in times %}{% if period != 'Year' %}{{ otimes.total.maintenance.format('%h')*60+otimes.total.maintenance.format('%i') }}{% if not loop.last %},{% endif %}{% endif %}{% endfor %}]
        }, {
        	name : 'Dépannages',
        	color : '#f89406', 
        	type : 'area',
            data: [{% for period, otimes in times %}{% if period != 'Year' %}{{ otimes.total.fixing.format('%h')*60+otimes.total.fixing.format('%i') }}{% if not loop.last %},{% endif %}{% endif %}{% endfor %}],
        }]
    });
});
</script>
{% endblock %}
