{% extends '@JLMState/layout.html.twig' %}

{% block content %}
<h1>Top dépannages</h1>
<table class="table">
	<thead>
		<tr>
			<th>Nb. de dépl.</th>
			<th>Installation</th>
			<th>Dernier dépanage</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for result in results %}
		<tr>
			<td>{{ result.nb }}</td>
			<td><strong>{{ result.type }} - {{ result.location }}</strong><br>{{ result.street |nl2br }}<br>{{ result.zip }} - {{ result.city | upper }}</td>		
			<td>{{ result.begin | date('d/m/Y') }}</td>
			<td><a href="{{ path('daily_door_show', {'id': result.id}) }}" class="btn">{{ 'eye-open'|icon }}</a>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
