{% extends '@JLMState/layout.html.twig' %}

{% block content %}
<h1>Stats Emetteurs</h1>
<div id="graphTransmitters"></div>
<div id="graphTransmittersByYear"></div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$(function () {
    $('#graphTransmitters').highcharts({
    	chart: {
	        alignTicks: false
	    },
    	rangeSelector : {
			selected : 1
		},
		xAxis: {
            categories: [
                'Jan',
                'Fev',
                'Mar',
                'Avr',
                'Mai',
                'Juin',
                'Juil',
                'Aoû',
                'Sep',
                'Oct',
                'Nov',
                'Dec'
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Nombre d\'émetteurs'
            }
        },
		title : {
			text : 'Nombre d\'émetteurs vendus au mois'
		},
        tooltip: {
            shared: true,
            valueSuffix: ' émetteurs'
        },
        
		series : [
		{% for year,datas in stats %}
		{
			name : 'Nombre d\'émetteurs en {{ year }}',
			data : [{% for month,number in datas %}{{ number }}{% if not loop.last %},{% endif %}{% endfor %} ],
			type : 'column'
		}
		{% if not loop.last %},{% endif %}
		{% endfor %}
		]
    });
});

$(function () {
    $('#graphTransmittersByYear').highcharts({
    	chart: {
	        alignTicks: false
	    },
    	rangeSelector : {
			selected : 1
		},
		xAxis: {
            categories: [
                {% for year,number in byYear %}{{ year }}{% if not loop.last %},{% endif %}{% endfor %}
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Nombre d\'émetteurs'
            }
        },
		title : {
			text : 'Nombre d\'émetteurs vendus à l\'année'
		},
        tooltip: {
            shared: true,
            valueSuffix: ' émetteurs'
        },
        
		series : [
		{
			name : 'Nombre d\'émetteurs',
			data : [{% for year,number in byYear %}{{ number }}{% if not loop.last %},{% endif %}{% endfor %} ],
			type : 'column'
		}
		]
    });
});
</script>
{% endblock %}
