<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
{% if form is defined %}{{ form_javascript(form) }}{% endif %}
{% if edit_form is defined %}{{ form_javascript(edit_form) }}{% endif %}
<script>
    {% block javascripts_script %}{% endblock %}
    {% block javascriptappend %}{% endblock %}
</script>
</body>
</html>
