{% extends "base.html.twig" %}

{% block title %}H.M. Fermeture{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/assets/app.css" type="text/css">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css">
	{% if form is defined %}{{ form_stylesheet(form) }}{% endif %}
	{% if edit_form is defined %}{{ form_stylesheet(edit_form) }}{% endif %}
{% endblock %}

{% block body %}
	<div id="modals">
      {% block modals %}
      {% endblock modals %}
      </div>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
	        <div class="container">
	        {# Responsive #}
		        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		           <span class="icon-bar"></span>
		           <span class="icon-bar"></span>
		           <span class="icon-bar"></span>
	         	</a>
	         	<a href="{{ path('default') }}" class="brand">H.M. Fermeture</a>
	         	<div class="nav-collapse collapse">
	      {% block header %}
	      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	      	
			{% block navigation %}
			<ul class="nav navbar-nav">
			    <li><a href="{{ path('trustee') }}">Saisie</a></li>
		        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Bureau <b class="caret"></b></a>
		        	<ul class="dropdown-menu">
                        <li class="dropdown-submenu">
		        			<a tabindex="-1" href="{{ path('quote') }}">Devis</a>
		        			<ul class="dropdown-menu">
		        				<li class="dropdown-submenu">
		        					<a tabindex="-1" href="{{ path('askquote') }}">Demandes</a>
		        					<ul class="dropdown-menu">
		        						<li><a href="{{ path('askquote_new') }}">{{ 'plus-sign'|icon }} Nouvelle demande de devis</a></li>
		        						<li class="divider"></li>
		        						{% include '@JLMOffice/Askquote/sidebar.html.twig' %}
		        					</ul>
		        				</li>
		        				<li><a href="{{ path('variant_boost') }}">Relances</a></li>
		        				<li class="divider"></li>
		        			{% include '@JLMCommerce/Quote/sidebar.html.twig' %}
		        			</ul>
		        		</li>
		        		<li class="dropdown-submenu">
		        			<a tabindex="-1" href="{{ path('order') }}">Fiches travaux</a>
		        			<ul class="dropdown-menu">
		        			{#	<li><a href="{{ path('order_new') }}">{{ 'plus-sign'|icon }} Nouvelle fiche</a></li>
								<li class="divider"></li> #}
								{% include '@JLMOffice/Order/sidebar.html.twig' %}
		        			</ul>
		        		</li>
                        <li class="dropdown-submenu">
		        			<a tabindex="-1" href="{{ path('bill') }}">Facture</a>
		        			<ul class="dropdown-menu">
				        		<li><a href="{{ path('bill_new') }}">{{ 'plus-sign'|icon }} Nouvelle facture</a></li>
				        		<li class="divider"></li>
				        		{% include '@JLMCommerce/Bill/sidebar.html.twig' %}
		        			</ul>
		        		</li>
                        <li class="dropdown-submenu">
		        			<a tabindex="-1" href="{{ path('fees') }}">Redevances</a>
		        			<ul class="dropdown-menu">
		        				<li><a href="{{ path('fees') }}">{{ 'list'|icon }} Liste</a></li>
		        			</ul>
		        		</li>
		        		<li><a href="{{ path('jlm_follow_default_index') }}">Suivi de commandes</a></li>
		        	</ul>
		        <li><a href="{{ path('intervention_today') }}">Journal de bord</a></li>
		        {# Emetteurs #}
		        <li class="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestion JCM <b class="caret"></b></a>
		        	<ul class="dropdown-menu">
		        		<li><a href="{{ path('transmitter_ask_new') }}">Nouvelle demande</a></li>
		        		<li><a href="{{ path('transmitter_ask_untreated') }}">Demandes non traitées</a></li>
		        		<li><a href="{{ path('transmitter_attribution') }}">Liste des attributions</a></li>
		        	</ul>
		        </li>
		        <li class="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Etats <b class="caret"></b></a>
		        	<ul class="dropdown-menu">
		        		{% include '@JLMState/sidebar.html.twig' %}
		        	</ul>
		        </li>
			  {% endblock navigation %}
			</ul>
			<ul class="nav navbar-nav pull-right">
				<li><a href="https://github.com/jlm-entreprise/jlm-intranet/issues?state=open">Signaler un bug</a></li>
			</ul>
			<div class="btn-group pull-right">
			   
			   <a href="#" class="btn btn-info navbar-btn dropdown-toggle" data-toggle="dropdown"><i class="icon-user  icon-white"></i> {{ app.user.username }} <b class="caret"></b></a>
			   <ul class="dropdown-menu">
			   		<li><a href="{{ path('fos_user_security_logout') }}">{{ 'remove-sign'|icon }} Déconnexion</a></li>
			   		<li class="divider"></li>
			   		<li><a href="{{ path('fos_user_profile_show') }}">{{ 'user'|icon }} Mon profil</a></li>
			   		<li><a href="{{ path('fos_user_change_password') }}">{{ 'lock'|icon }} Changer mon mot de passe</a></li>
			   		<li class="divider"></li>
			   		<li><a href="{{ path('fos_user_registration_register') }}">Créer un compte client</a></li>  		
			   </ul>
			</div>
			{% endif %}	
	      {% endblock header %}
	          </div>
	      	</div>
	     </div>
      </div>   
      <div class="container-fluid">
		  {% block container %}
			<div class="row-fluid">
			    <div class="span2">    
				    <ul class="nav nav-list">
					    {% block sidebar %}
					  	{% endblock sidebar %}
					</ul>
			    </div>
			    <div class="span10">
		            {% block content %}
		            {% endblock content %}
		            {% block pagination %}
		            	{% if pagination is defined %}
		            	{% set flag = true %}
							<div class="pagination pagination-centered">
							    <ul>
							        <li{% if pagination.current == 1 %} class="disabled"{% endif %}><a href="{{ path(pagination.route,pagination.params|merge({'page' : pagination.current-1 })) }}">«</a></li>
									{% for p in range(1,pagination.total) %}
									{% if (p > pagination.current - 3 and p < pagination.current + 3) or p == 1 or p == pagination.total or (p < 6 and pagination.current < 6) %}
									<li{% if p == pagination.current %} class="active"{% endif %}><a href="{{ path(pagination.route,pagination.params|merge({ 'page' : p })) }}">{{ p }}</a></li>
									{% set flag = true %}
									{% elseif p % 10 == 0 %}
									<li><a href="{{ path(pagination.route,pagination.params|merge({ 'page' : p })) }}">{{ p }}</a><li>
									{% set flag = true %}
									{% elseif flag %}
									<li><a href="#">...</a></li>
									{% set flag = false %}
									{% endif %}
									{% endfor %}
									<li{% if pagination.current == pagination.total %} class="disabled"{% endif %}><a href="{{ path(pagination.route,pagination.params|merge({ 'page' : pagination.current+1 })) }}">»</a></li>
								</ul>
							</div>
		            	{% endif %}
		            {% endblock pagination %}
			    </div>
		    </div>
		  {% endblock container %}
      </div>
      <footer>
          {% block footer %}
          {% endblock footer %}
      </footer>
{% endblock body%}

{% block javascripts %}
	<script src="/assets/app.js"></script>
{% endblock %}

{% block javascripts_script %}
$('.autocompletion').autocomplete({
	source : function(request,response){
		return $.post(
			this.element.attr('data-source'),
			request, 
			function (data) { response(data);},
			'json'
		);
    },
    items:12,
});

function addForm(collectionHolder, $newLinkLi) {
    var prototype = collectionHolder.attr('data-prototype');
    var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);
    var $newFormLi = $(newForm).append('<button class="btn btn-danger btn-small">{{ 'minus-sign'|icon(true) }}</button>');
    $newFormLi.find('button').on('click', function(e) {
    	e.preventDefault();
    	$(this).parent().remove();
    });
    $newLinkLi.before($newFormLi);
}
{% endblock %}

