{% extends '@JLMOffice/Order/layout.html.twig' %}
{% form_theme edit_form with '@JLMOffice/Form/order.html.twig' %}
{% block content %}
<h1>Commande</h1>
<div class="row_fluid clearfix">
<div class="span6 well">{{ entity.work.place | nl2br }}</div>
<div class="span6">Créée le {{ entity.creation|date('d/m/Y') }}</div>
</div>
{{ form_start(edit_form, {'action': path('order_update', { 'id': entity.id }), 'attr': {'class': 'form-horizontal'}}) }}
    <fieldset>
    {{ form_widget(edit_form) }}
	<div class="form-actions">
	   <a href="{{ path('order') }}" class="btn">{{ 'arrow-left'|icon }} Retour à la liste</a>
	   <button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer les modifications</button>
	</div>
</fieldset>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$("body").order({
	 autoSource:'{{ path('autocomplete') }}',
	 lineCount:{{ edit_form.lines | length }}
});
</script>
{% endblock %}
