{% extends '@JLMOffice/Order/layout.html.twig' %}

{% block content %}
<h1>Liste des fiches travaux{% if state is defined %}{% if state == 0 %} en saisie{% elseif state == 1 %} en préparation{% elseif state == 2 %} prêtes{% endif %}{% endif %}</h1>

<table class="table table-stripped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Affaire</th>
            <th>Infos</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
    {% if entity.work %}
        <tr>
        	<td>{% if entity.creation %}{{ entity.creation|date('d/m/Y') }}{% endif %}
        	<br>{% include '@JLMOffice/Order/statelabel.html.twig' with {'state': entity.state} %}</td>
            <td><a href="{{ path('intervention_redirect',{'id':entity.work.id, 'act':'show'}) }}">
					{% if entity.work.door %}
						<strong>{{ entity.work.door.site.address.city.name | upper }}</strong> <small>{{ entity.work.door.site.address.city.zip }}</small><br>{{ entity.work.door.street | nl2br }}
					{% else %}{{ entity.work.place | nl2br }}
					{% endif %}
				</a></td>
			<td>{% if entity.work.door %}
				<strong>{{ entity.work.door.type }} - {{ entity.work.door.location }}</strong>{% endif %}<br>
				<small>
	 		{% if entity.work.quote %}Selon devis n°{{ entity.work.quote.number }}<br>{% endif %}{{ entity.work.reason | nl2br }}</small></td>
	 		<td><a href="{{ path('order_show',{'id':entity.id}) }}" class="btn btn-info">Voir la fiche</a>
        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>

{% if page is defined %}
<div class="pagination pagination-centered">
	<ul>
	    <li{% if page == 1 %} class="disabled"{% endif %}><a href="{% if state is null %}{{ path('order_page',{ 'page' : page-1 }) }}{% else %}{{ path('order_state',{ 'page' : page-1, 'state':state }) }}{% endif %}">«</a></li>
		{% for p in range(1,nbPages) %}
		<li{% if p == page %} class="active"{% endif %}><a href="{% if state is null %}{{ path('order_page',{ 'page' : p }) }}{% else %}{{ path('order_state',{ 'page' : p, 'state':state }) }}{% endif %}">{{ p }}</a></li>
		{% endfor %}
		<li{% if page == nbPages %} class="disabled"{% endif %}><a href="{% if state is null %}{{ path('order_page',{ 'page' : page+1 }) }}{% else %}{{ path('order_state',{ 'page' : page+1, 'state':state }) }}{% endif %}">»</a></li>
	</ul>
</div>
{% endif %}
{% endblock %}
