{% extends '@JLMOffice/layout.html.twig' %}

{% block sidebar %}
	<li><h4>Fiches travaux</h4></li>
	<li>{{ form(search.form, {'action': path('order_search')}) }}</li>
	<li class="divider"></li>
	<li class="nav-header">Etats</li>
    {% include '@JLMOffice/Order/sidebar.html.twig' %}
{% endblock sidebar %}
