{% extends '@JLMOffice/Order/layout.html.twig' %}
{% form_theme form with '@JLMOffice/Form/order.html.twig' %}
{% block content %}
<h1>Nouvelle commande</h1>
<div class="row_fluid clearfix">
<div class="span6 well">{{ entity.work.place | nl2br }}</div>
<div class="span6">Créée le {{ entity.creation|date('d/m/Y') }}</div>
</div>
{% if form_errors(form) %}
<div class="alert">{{ form_errors(form) }}</div>
{% endif %}
	{{ form_start(form, {'action': path('order_create'), 'attr': {'class': 'form-horizontal'}}) }}
    <fieldset>
    {{ form_widget(form) }}
	<div class="form-actions">
	  <a href="{{ path('order_todo') }}" class="btn">{{ 'arrow-left'|icon }} Retour à la liste</a>
	  <button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer les modifications</button>
	</div>
</fieldset>
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$("body").order({
	 autoSource:'{{ path('autocomplete') }}',
	 lineCount:{{ form.lines | length }}
});
</script>
{% endblock %}
