{% extends '@JLMOffice/Order/layout.html.twig' %}

{% block content %}
<h1>Fiche travaux</h1>
<strong>{{ entity.creation | date('d/m/Y') }}</strong><br><br>
<strong>{{ entity.work.place |nl2br }}</strong>
<table class="table table-stripped">
	<thead>
		<tr>
			<th>Référence</th>
			<th>Désignation</th>
			<th>Qté</th>
		</tr>
	</thead>
	<tbody>
	<tr><td></td><td>Temps prévu (heure/technicien)</td><td>{{ entity.time }}</td></tr>
	{% if entity.lines|length %}
	{% for line in entity.lines %}
		<tr>
			<td>{{ line.reference }}</td>
			<td>{{ line.designation }}</td>
			<td>{{ line.quantity }}</td>
		</tr>
	{% endfor %}
	{% else %}
<tr><td></td><td>Pas de matériel</td><td></td></tr>
{% endif %}
	</tbody>
</table>

<div class="form-actions">
	<a href="{{ path('work_show',{'id':entity.work.id}) }}" class="btn">{{ 'arrow-left'|icon }} Retour aux travaux</a>
	<a href="{{ path('order_print',{ 'id' : entity.id }) }}" class="btn btn-info">{{ 'print'|icon(true) }} Imprimer</a>
{% if entity.state < 1 %}
	<a href="{{ path('order_edit', { 'id': entity.id }) }}" class="btn btn-warning">{{ 'pencil'|icon(true) }} Editer</a>
	<a href="{{ path('order_ordered', { 'id': entity.id }) }}" class="btn btn-primary">{{ 'ok'|icon(true) }} A préparer</a>
{% endif %}
{% if entity.state == 1 %}
	<a href="{{ path('order_ready', { 'id': entity.id }) }}" class="btn btn-primary">{{ 'ok'|icon(true) }} Prête</a>
{% endif %}
</div>
{% endblock %}
