{% block datepicker_widget %}
{% apply spaceless %}
<div class="input-prepend input-append"><span class="add-on">{{ 'calendar'|icon }}</span>{{ block('form_widget_simple') }}<button class="btn" type="submit">{{ 'eye-open'|icon }}</button></div>
{% endapply %}
{% endblock datepicker_widget %}
