{% extends '@JLMDaily/layout.html.twig' %}

{% block title %}Installation n°{{ entity.id }} / {{ entity.site|nl2br|replace({'<br />':' / '}) }} / {{ entity.location }} / {{ entity.type }} | {{ parent() }}{% endblock %}

{% block content %}
<h1>Installation {{ entity.code }}</h1>
{% if entity.stopped %}
<div class="alert alert-danger">
	<h4>Porte à l'arrêt</h4>
</div>
{% endif %}
{% if entity.width and entity.height %}{{ entity.width }}x{{ entity.height }}mm</small>{% endif %}</h1>
<div class="row-fluid">
	<div class="span5">
		<h4>{{ entity.type }} - {{ entity.location }}</h4>
		<em>
			<dl>
				<dt>Accès</dt>
				<dd>{{ entity.street | nl2br }}</dd>
			</dl>
		</em>
		<address>
			<strong>{{ entity.site.address.city.name | upper }}</strong>
			<small>{{ entity.site.address.city.zip }}</small><br>
			{{ entity.site.address.street | nl2br }}
		</address>
	</div>
	<div class="span7">
		<div class="tabbable tabs-left">
	    		<ul class="nav nav-tabs">
	    			<li class="active"><a href="#door" data-toggle="tab">Installation</a></li>
	    			{% if entity.googlemaps %}<li><a href="#pics" data-toggle="tab">Photo</a></li>{% endif %}
	    			<li><a href="#others" data-toggle="tab">Autres installations</a>
					<li><a href="#trustee" data-toggle="tab">Syndic</a></li>
					<li><a href="#quotes" data-toggle="tab">Devis</a></li>
	    		</ul>
	    		<div class="tab-content">
	    			<div class="tab-pane active" id="door">
	    				<div class="row-fluid">
	    					<div class="span8">
	    					{% if entity.underWarranty %}<span class="label label-success">Sous garantie jusqu'au {{ entity.endWarranty | date('d/m/Y') }}</span>{% endif %}
								<dl>
								<dt>{% if entity.code %}Code étiquette</dt><dd>{{ entity.code }}</dd>{% else %}{{ form(codeForm) }}</dt>{% endif %}
								<dt>Dernier entretien</dt>
								<dd>{% if entity.lastMaintenance is null %}Aucun{% else %}{{ entity.lastMaintenance | date('d/m/Y') }}{% endif %}</dd>
				 				<dt>Émetteurs</dt>
				 				{% if entity.transmitters|length %}
									{% for trans in entity.transmitters %}
										<dd>{{ trans }}</dd>
									{% endfor %}
								{% else %}
									<dd>Pas à nous</dd>
								{% endif %}
								{% if  entity.site.observations or entity.observations %}
							 		<dt>Notes</dt>
							 	 {% if entity.model %}<dd>Modèle : {{ entity.model }}</dd>{% endif %}
							 		{% if entity.site.observations %}
							 			<dd>{{ entity.site.observations | nl2br }}</dd>
							 		{% endif %}
							 		{% if entity.observations %}
										<dd>{{ entity.observations | nl2br }}</dd>
									{% endif %}
								{% endif %}
								</dl>
							</div>
							<div class="span4 text-right">
							<h2>{% if entity.actualContract is null %}Hors contrat
								{% if entity.lastContract %}<br><small>Débute le {{ entity.lastContract.begin|date('d/m/Y') }}</small>{% endif %}
							{% else %}
							{% if entity.actualContract == 'C1' %}Complet<br>24/24h 7/7j<br><small>Tout compris<br>hors vandalisme</small>
							{% elseif entity.actualContract == 'C2' %}Complet<br>L/V 8h30-17h30<br><small>Tout compris<br>hors vandalisme</small>
							{% elseif entity.actualContract == 'N3' %}Normal<br>24/24h 7/7j<br><small>Tout facturable</small>
							{% elseif entity.actualContract == 'N4' %}Normal<br>L/V 8h30-17h30<br><small>Tout facturable</small>
							{% endif %}
							{% endif %}</h2>
								<a href="{{ path('maintenance_neighbor',{'id':entity.id}) }}" class="btn btn-info btn-small">{{ 'zoom-in'|icon(true) }} Entretiens à proximité</a>
							</div>
						</div>	
					</div>
					{% if entity.googlemaps %}
					<div class="tab-pane" id="pics">
						<img width="350" height="300"  src="{{ entity.mapsImageUrl }}"  class="img-rounded" />
					</div>
					{% endif %}
					<div class="tab-pane" id="others">
						<ul>
						{% for other in entity.site.doors %}
							{% if other.id != entity.id %}
							<li><a href="{{ path('daily_door_show',{'id':other.id}) }}">{{ other.type }} - {{ other.location }}</a></li>
							{% endif %}
						{% endfor %}
						</ul>
					</div>
					<div class="tab-pane" id="trustee">
						<h4>{{ entity.trustee }}</h4>
						<dl class="dl-horizontal">
							<dt>Adresse</dt>
							<dd>
							<address>{{ entity.trustee.address|nl2br }}</address>
							</dd>
							<dt>Téléphones</dt>
							{% for phone in entity.trustee.phones %}
							<dd>{{ phone }}</dd>
							{% endfor %}
						</dl>
					</div>
					<div class="tab-pane" id="quotes">
						{% if quotes | length > 0 %}
						<ul>
							{% for quote in quotes %}
							<li>
								<a href="{{ path('quote_show',{'id':quote.id}) }}">
									{{ quote.number }}
									{% include '@JLMCommerce/Quote/statelabel.html.twig' with {'state': quote.state} %}
								</a>
						{#}		du {{ quote.creation|date('d/m/Y') }} {#}
							</li>
							{% endfor %}
						</ul>
						{% else %}
						Pas de devis
						{% endif %}
					</div>
				</div>
			</div>
		</div>	
</div>

<div class="form-actions">
<a href="#modalNewFixing{{ entity.id }}" class="btn btn-warning" role="button" data-toggle="modal">{{ 'wrench'|icon(true) }} Dépannage</a>
{{ render(controller('\\JLM\\DailyBundle\\Controller\\FixingController::newAction',{'id':entity.id})) }}
	<a href="{{ path('work_new_door',{'id': entity.id}) }}" class="btn btn-primary">{{ 'wrench'|icon(true) }} Travaux</a>
	{% if false %}<a href="{{ path('maintenance_generate', { 'id':entity.id } ) }}" class="btn">{{ 'wrench'|icon }} Entretien</a>{% endif %}
	{% if entity.stopped %}<a href="{{ path('daily_door_unstop',{'id': entity.id}) }}" class="btn btn-success">{{ 'ok'|icon(true) }} Mettre en service</a>
	{% else %}<a href="{{ path('daily_door_stop',{'id': entity.id}) }}" class="btn btn-danger">{{ 'remove'|icon(true) }} Mettre à l'arrêt</a>{% endif %}
</div>



<ul class="nav nav-tabs" id="myTab">
	<li class="active"><a href="#interventions" data-toggle="tab">Interventions</a></li>
	<li><a href="#stops" data-toggle="tab">Mises à l'arrêt</a></li>
</ul>
 
<div class="tab-content">
	<div class="tab-pane active" id="interventions">
		{% if entity.interventions | length %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Date</th>
					<th>Raison</th>
					<th>Rapport</th>
					<th>Actions</th>
					<th>Techniciens</th>
				</tr>
			</thead>
			<tbody>
				{% for interv in entity.interventions %}
				<tr{% if interv.state %} class="{% if interv.state == 1 %}warning{% elseif interv.state == 2 %}info{% elseif interv.state == 3 %}success{% else %}error{% endif %}"{% endif %}>
					<td>
					{% include '@JLMDaily/Intervention/labeltype.html.twig' with {'type' : interv.type} %}<br>
						<small>
				{% if interv.firstDate %}
					{% if interv.lastDate != interv.firstDate %}du {{ interv.firstDate | localizeddate('full', 'none') }}
					                                        <br>au {{ interv.lastDate | localizeddate('full', 'none') }}
					{% else %}{{ interv.firstDate | localizeddate('full', 'none') }}
					{% endif %}
				{% else %}
					{{ interv.creation | localizeddate('full', 'none') }}
					{% endif %}
						</small></td>
					<td>{% if interv.canceled %}<del>{% endif %}<a href="{{ path('intervention_redirect',{'id':interv.id,'act':'show'}) }}">
					{% if interv.type == 'work' %}
			 	{% if interv.quote %}Selon devis n°{{ interv.quote.number }}<br>{% endif %}{% endif %}
					{{ interv.reason |nl2br }}</a>
					{% if interv.canceled %}</del>{% endif %}
					</td>
					<td>
					{% if interv.type == 'fixing' %}
					  <strong>Constat :</strong><br/>{{ interv.observation |nl2br }}<br/>
					{% endif %}
					  <strong>Action menée :</strong><br/>{{ interv.report |nl2br }}
					</td>
					<td>
						{% if interv.mustBeBilled is not null %}{% if interv.mustBeBilled %}Facturée{% else %}Non facturée{% endif %}{% endif %}
						{% if interv.askQuote %}<br><a href="{{ path('askquote_show',{'id':interv.askQuote.id}) }}">Devis</a>{% endif %}
						{% if interv.work %}<br><a href="{{ path('work_show',{'id':interv.work.id}) }}">Planifier intervention</a>{% endif %}
						{% if interv.contactCustomer is not null %}<br>Contacter client{% endif %}
					</td>
					<td>
						{% if interv.canceled %}
						<span class="label label-important">Annulée</span><br>
						{% endif %}
						{% if interv.shiftTechnicians|length %}
							{% if interv.shiftTechnicians|length < 4%}
								{% for shift in interv.shiftTechnicians %}
								<a href="#modalEditTech{{ shift.id }}" data-toggle="modal"><small>{{ shift.begin | date('d/m')}} <strong>{{ shift.technician }}</strong>{% if shift.end %} {{ shift.time.format('%hh%I') }}{% endif %}</small></a><br>
								{{ render(controller('\\JLM\\DailyBundle\\Controller\\ShiftingController::editAction',{'id':shift.id})) }}
								{% endfor %}
							{% else %}
							<div class="btn-group">
							    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
							    	{{ interv.shiftTechnicians|length }} déplacements
							    	<span class="caret"></span>
							    </a>
							    <ul class="dropdown-menu">
							    {% for shift in interv.shiftTechnicians %}
										<li><a href="#modalEditTech{{ shift.id }}" data-toggle="modal"><small>{{ shift.begin | date('d/m')}} <strong>{{ shift.technician }}</strong>{% if shift.end %} {{ shift.time.format('%hh%I') }}{% endif %}</small></a></li>
								{% endfor %}
							    </ul>
							    {% for shift in interv.shiftTechnicians %}
							    	{{ render(controller('\\JLM\\DailyBundle\\Controller\\ShiftingController::editAction',{'id':shift.id})) }}
							    {% endfor %}
							 </div>
							{% endif %}
						{% else %}
						
						{% endif %}
					
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="{{ path('intervention_printdoor',{'id':entity.id}) }}" class="btn btn-info">{{ 'print'|icon(true) }} Imprimer les rapports d'intervention</a>
		<a href="{{ path('intervention_doorxls',{'id':entity.id}) }}" class="btn btn-info">{{ 'file'|icon(true) }} Export Excel</a>
		{% else %}
		<h4>Pas d'intervention</h4>
		{% endif %}
	</div>
	<div class="tab-pane" id="stops">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Mise à l'arrêt</th>
					<th>Raison</th>
					<th>Remise en service</th>
				</tr>
			</thead>
			<tbody>
				{% for stop in entity.stops %}
				<tr{% if stop.end is null %} class="error"{% endif %}>
					<td>{{ stop.begin | date('d/m/y') }}</td>
					<td>{{ stop.reason | nl2br }}</td>
					<td>
						{% if stop.end is null %}
						{{ stop.state | nl2br }}
						{% else %}
						{{ stop.end | date('d/m/Y') }}
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>


{% endblock %}
