{% extends '@JLMDaily/layout.html.twig' %}

{% block title %}Installations à l'arrêt | {{ parent() }}{% endblock %}

{% block content %}
<h1>Intallations à l'arrêt <small>({{ entities | length }})</small></h1>
	{% if entities|length == 0  %} 
		<h2><small>Aucun résultat</small></h2>
	{% else %}
		<h2><small>Intallations</small></h2>
		{# include '@JLMDaily/Door/list.html.twig' with {'doors': entities } #}
		
		
		<table class="table table-striped">
	<thead>
		<tr>
			{# <th>N°</th> #}
			<th>Affaire</th>
			<th>Installation</th>
			<th>Etat</th>
			<th>Syndic</th>
			<th>Raison</th>
			<th>État</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for door in entities %}
		<tr>
		{#	<td><span class="label label-inverse">{{ door.id }}</span></td> #}
			<td>
				{% if door.blocked %}<span class="label label-important">Facture en retard</span><br>{% endif %}
				<a href="{{ path('daily_door_show',{'id': door.id}) }}">
					<strong>{{ door.site.address.city.name | upper }}</strong> <small>{{ door.site.address.city.zip }}</small><br>
					{{ door.site.address.street | nl2br }}
				</a>
			</td>
			<td><span class="label label-inverse">{% if door.actualContract is null %}HC{% else %}{{ door.actualContract }}{% endif %}</span><br>
			<strong>{{ door.type }} - {{ door.location }}</strong><br>
			{{ door.street | nl2br }}
			</td>
			<td>
				{% if door.stopped %}<span class="label label-important">Mise à l'arrêt</span><br>{% endif %}
				{% if door.fixingInProgress %}<span class="label label-warning">Dépannage en cours</span><br>
				{% elseif door.waitFixing %}<span class="label label-warning">En attente dépannage</span><br>{% endif %}
				{% if door.workInProgress %}<span class="label label-info">Travaux en cours</span><br>
				{% elseif door.waitWork %}<span class="label label-info">En attente travaux</span><br>{% endif %}
				{% if door.waitMaintenance %}<span class="label">{% if door.numberWaitMaintenance == 1 %}1er{% else %}2ème{% endif %} entretien à faire</span><br>{% endif %}
			</td>
			<td><small>{{ door.site.trustee }}</small></td>
			{% if door.lastStop is not null %}
			<td>Depuis le {{ door.lastStop.begin|date('d/m/Y') }}<br>{{ door.lastStop.reason | nl2br }}</td>
			<td>{{ door.lastStop.state | nl2br }}</td>
			{% else %}<td></td><td></td>{% endif %}
			<td><a href="#modalDoorStopEdit{{ door.lastStop.id }}" data-toggle="modal" class="btn btn-warning">{{ 'pencil'|icon(true) }}Editer</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}
	<div class="form-actions">
<a href="{{ path('daily_door_printstopped') }}" class="btn btn-info">{{ 'print'|icon(true) }} Imprimer</a>
</div>
{% endblock %}

{% block modals %}
{{ parent() }}
{% for key,door in entities %}
{% include '@JLMModel/DoorStop/edit.html.twig' with {'entity':door.lastStop, 'form':stopForms[key]} %}
{% endfor %}
{% endblock %}
