{# @JLMDaily/Maintenance/close.html.twig #}
{% extends '@JLMDaily/layout.html.twig' %}

{% block content %}
	<h1>Cloturer un entretien</h1>
	<h4>{{ entity.place |nl2br }}</h4>
	<div>{{ entity.reason }}</div>
	{{ form_start(form, {'action': path('maintenance_closeupdate', {'id':entity.id}), 'attr': {'class': 'form-horizontal'}}) }}
	<fieldset>
	{{ form_widget(form) }}
		<div class="form-actions">
		   <a href="{{ path('maintenance_list') }}" class="btn">{{ 'arrow-left'|icon }} Retour à la liste</a>
		   <button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer les modifications</button>
		</div>
	</fieldset>
	{{ form_end(form) }}
{% endblock %}
