{# @JLMDaily/Fixing/list.html.twig #}
{% extends '@JLMDaily/layout.html.twig' %}

{% block content %}
<h1>Entretiens <small>({{ entities|length }})</small></h1>
{% include '@JLMDaily/Intervention/list.html.twig' with {'entities' : entities} %}
{#}
<div class="pagination pagination-centered">
    <ul>
        <li{% if page == 1 %} class="disabled"{% endif %}><a href="{{ path('maintenance_list_page',{ 'page' : page-1 }) }}">«</a></li>
		{% for p in range(1,nbPages) %}
		<li{% if p == page %} class="active"{% endif %}><a href="{{ path('maintenance_list_page',{ 'page' : p }) }}">{{ p }}</a></li>
		{% endfor %}
		<li{% if page == nbPages %} class="disabled"{% endif %}><a href="{{ path('maintenance_list_page',{ 'page' : page+1 }) }}">»</a></li>
	</ul>
</div>
{#}

{% endblock %}
