{# @JLMDaily/Fixing/list.html.twig #}
{% extends '@JLMDaily/layout.html.twig' %}

{% block content %}
	<h1>Entretiens proche de</h1>
	<address>{{ door|nl2br }}</address>
	<table class="table">
		<thead>
			<tr>
				<th>Affaire</th>
				<th>Installation</th>
				<th>Emetteurs</th>
				<th>Distance</th>
				<th>Temps</th>
			</tr>
		</thead>
		<tbody>
		{% for entity in entities %}
			<tr>
				<td>
					{% if entity.destination.site.blocked %}<span class="label label-important">Facture en retard</span><br>{% endif %}
					{% if entity.destination.waitMaintenance %}<span class="label">{% if entity.destination.numberWaitMaintenance == 1 %}1er{% else %}2ème{% endif %} entretien à faire</span>{% endif %}
					<a href="{{ path('maintenance_show',{'id':entity.destination.nextMaintenance.id}) }}">
					<strong>{{ entity.destination.site.address.city.name | upper }}</strong> <small>{{ entity.destination.site.address.city.zip }}</small><br>{{ entity.destination.site.address.street | nl2br }}
					</a>
				</td>
				<td>
					<span class="label label-inverse">{% if entity.destination.actualContract is null %}HC{% else %}{{ entity.destination.actualContract }}{% endif %}</span>
					{% if entity.destination.stopped %}<span class="label label-important">Mise à l'arrêt</span><br>{% endif %}
					<strong>{{ entity.destination.type }} - {{ entity.destination.location }}</strong><br>
					{{ entity.destination.street | nl2br }}
				</td>
				<td>
					<ul>
					{% if entity.destination.transmitters|length %}
						{% for trans in entity.destination.transmitters %}
						<li>{{ trans }}</li>
						{% endfor %}
					{% else %}
						<li>Pas à nous</li>
					{% endif %}
					</ul>
				</td>
				<td>{{ entity.distanceKm }}</td>
				<td>{{ entity.durationM }}</td>
				<td><a href="#modalAddTech{{ entity.destination.nextMaintenance.id }}" class ="btn btn-small" role="button" data-toggle="modal">{{ 'plus-sign'|icon }} Ajouter</a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block modals %}
	{{ parent() }}
	{% for key,form in forms_addTech %}
	{% include '@JLMDaily/Shifting/new.html.twig' with {'id':entities[key].destination.nextMaintenance.id, 'form':form} %}
	{# render(controller('\\JLM\\DailyBundle\\Controller\\ShiftingController::newAction',{'id':entity.destination.nextMaintenance.id})) #}
	{% endfor %}
{% endblock %}
