{% extends '@JLMTransmitter/Attribution/layout.html.twig' %}

{% block content %}
<h1>Affaire</h1>
<a href="{{ path('transmitter_site_printlist',{'id':entity.id}) }}" class="btn btn-info">{{ 'print'|icon(true) }}print"></i> Imprimer la liste complète</a>
{% endblock %}
