{% extends '@JLMFront/layout.html.twig' %}

{% block title %}Contactez-nous | {{ parent() }}{% endblock title %}

{% block container %}
<div class="container">
  <div class="page-header">
    <h1>Contactez-nous</h1>
    <p>Merci de compléter ce formulaire pour toute demande d’information.</p>
  </div>
  <div class="row">
  <div class="col-lg-12">
  </div>
  </div>
</div>
{% endblock container %}
