{% extends '@JLMFront/layout.html.twig' %}

{% block title %}FAQ | {{ parent() }}{% endblock title %}

{% block container %}
<div class="container">
  <div class="page-header">
    <h1>FAQ</h1>
  </div>
  <div class="row">
    <div class="col-lg-12">
    </div>
  </div>
</div>
{% endblock container %}
