{% extends '@JLMFront/layout.html.twig' %}

{% block title %}Conditions d'utilisations | {{ parent() }}{% endblock title %}

{% block container %}
<div class="container">
  <div class="page-header">
    <h1>Conditions d'utilisations</h1>
  </div>
  <div class="row">
    <div class="col-lg-12">
<h2>1. Licence limitée</h2>
<p>Sous réserve du respect des conditions générales énoncées ci-dessous et des législations et règlements applicables, JLM Entreprise vous accorde un droit limité d’accès, d’utilisation et d’affichage de ce site et des éléments s’y rapportant. Ce droit est non-cessible, non-exclusif et personnel. Cette autorisation ne saurait constituer une cession des droits attachés au site et est soumise aux restrictions suivantes: (1) vous devez conserver toutes les mentions relatives aux droits d’auteur et autres droits de propriété apparaissant sur toutes les copies du site et des éléments s’y rapportant ; et (2) il vous est interdit de modifier le site ou les éléments s’y rapportant, de les reproduire, de les afficher publiquement, de les diffuser, les distribuer ou les utiliser de quelque manière que ce soit à des fins publiques ou commerciales, sauf disposition contraire expressément prévue dans les présentes conditions générales.</p>
<h2>2. Renonciation/Clause de non-garantie</h2>
<p>Les informations disponibles sur le site ont pour seul but de vous informer. JLM Entreprise fournit le site et le contenu « tels quels » et ne donne aucune garantie quant au site et à ses contenus. JLM Entreprise ne fournit aucune garantie, expresse ou implicite, et notamment aucune garantie quant à la possibilité pour le site et ses contenus à être commercialisés ni quant à leur adéquation à des besoins particuliers. En outre, JLM Entreprise ne garantie pas que les informations diffusées sur le site sont exactes, complètes et mises à jour.</p>
<h2>3. Modifications</h2>
<p>Le contenu des présentes conditions générales peut faire l’objet de modifications sans préavis. JLM Entreprise se réserve le droit de changer ou de modifier les présentes conditions générales d’utilisation du site à tout moment et sans notification préalable. Toute utilisation du site postérieure à un tel changement vaut acceptation de votre part des changements, modifications, ajouts et/ou suppressions effectués.</p>
<p>JLM Entreprise peut à tout moment mettre fin, modifier, suspendre ou interrompre une quelconque composante du site, y compris la disponibilité de l’une ou l’autre de ses fonctions. JLM Entreprise peut aussi imposer des limites à certains services et/ou fonctions du site ou restreindre votre accès à certaines parties du site sans notification et sans que la responsabilité d’JLM Entreprise puisse être engagée.</p>
<h2>4. Liens hypertextes</h2>
<p>Certains liens présents sur le site permettent d’accéder à des sites internet gérés par des tiers sur lesquels JLM Entreprise n’exerce aucun contrôle. JLM Entreprise met ces liens hypertextes à la disposition des utilisateurs par simple commodité pour ceux-ci sans que cela puisse constituer un quelconque aval donné par JLM Entreprise concernant ces sites, leur contenu, les produits et/ou services proposés par ceux-ci. Par conséquent, JLM Entreprise ne fournit aucune garantie quant au contenu ou à la disponibilité des ces sites, y compris les sous-liens, présents sur ces sites.</p>
<p>Lorsque vous vous inscrivez, que vous commandez ou achetez des produits ou des services auprès d’un site tiers via un lien hypertexte, vous concluez un contrat avec ce site tiers et non avec JLM Entreprise. Pour cela, vous devrez prendre connaissance et lire attentivement les conditions générales communiquées par ce tiers ainsi que les règles relatives à la protection de la vie privée avant de procéder à votre inscription, à votre commande ou à votre achat. Les règles relatives à la protection de la vie privée définies par JLM Entreprise et les présentes conditions générales ne s’appliqueront pas, sauf dispositions expresses contraires prévues dans les présentes conditions générales. JLM Entreprise s’engage à ne proposer que des liens hypertextes permettant de se connecter à des sites partageant ses préoccupations en matière de protection de la vie privée. Il est toutefois impossible pour JLM Entreprise, de contrôler la façon dont les sites tiers utilisent et collectent les informations et/ou exercent leurs activités.</p>
<p>Lorsque vous vous connectez à un site tiers, vous devez savoir que ces sites sont susceptibles d’utiliser des cookies ou d’autres moyens qui leur permettront d’avoir des informations vous concernant. Dans ce cas, les règles relatives à la protection de la vie privée définies par JLM Entreprise et les présentes conditions générales disponibles sur jlm-entreprise.fr ne s’appliquent pas.</p>
<h2>5. Régime juridique des documents et informations fournis à JLM Entreprise</h2>
<p>Si vous donnez à JLM Entreprise, par courrier électronique ou tout autre support, des informations et/ou des éléments y compris, mais pas exclusivement, des réactions, des questions, des suggestions, des idées, des graphiques ou des fichiers d’ordinateur, vous autorisez expressément JLM Entreprise ou garantissez que le propriétaire de tels éléments et/ou de telles informations autorise expressément JLM Entreprise à utiliser, reproduire, modifier, adapter, publier, traduire, et distribuer tout ou partie de ces éléments et/ou de ces informations gratuitement, de façon perpétuelle, irrévocable et non-exclusive dans le monde entier, ainsi qu’à les intégrer à d’autres produits de quelque nature que ce soit, à des média ou des technologies actuellement connus ou futurs, sous réserve du respect de la déclaration relative à la protection de la vie privée des utilisateur disponible sur jlm-entreprise.fr.</p>
<h2>6. Clause de limitation de responsabilité</h2>
<p>Ni JLM Entreprise, ni aucun de ses filiales, aucun de ses salariés ou autres représentants ne pourront être tenus responsables des dommages résultant de ou relatifs à l’utilisation du site. La responsabilité d’JLM Entreprise ne pourra en aucun cas être retenue d’une part pour un préjudice subi ou des frais encourus qu’il s’agisse dommages et intérêts, de dommages ou coûts indirects, accessoires, exceptionnels tels que la perte de profits, l’interruption d’activité, la perte d’informations et de données, ou la perte du fonds de commerce, le dommage causé à la propriété ou la perte de droits de propriété, et d’autre part pour toute plainte de tiers résultant de ou relative à l’utilisation, la transcription, ou l’affichage du site et/ou de son contenu ou de tout site internet accessible via un lien hypertexte, et ce même si JLM Entreprise en a été informé, en a eu connaissance, ou aurait dû en connaître l’éventualité.</p>
<h2>7. Utilisateurs internationaux et juridiction</h2>
<p>Le présent site est hébergé, géré et contrôlé par la société JLM Entreprise située dans l’Etat du Connecticut des Etats-Unis d’Amérique. JLM Entreprise ne garantit pas que les éléments présents sur le site sont appropriés ou disponibles pour une utilisation en dehors des Etats-Unis et l’accès au site depuis les pays où le contenu de ce site est illégal est interdit. Si vous accédez au site à partir d’un lieu situé en dehors des Etats-Unis, vous êtes tenu de vous conformer aux lois locales. Les lois de l’Etat du Connecticut régissent le contenu et l’utilisation du site, sans que les principes et règles en matière de conflit de loi s’appliquent.</p>
<h2>8. Droit d’auteur et marques</h2>
<p>Tous les titres de propriété, tous les droits d’auteur, tout autre droit de la propriété intellectuelle et toute modification de ceux-ci y compris la conception du site, l’intégralité des designs, des textes, des graphiques présents sur le site, leur sélection et leur présentation sont la propriété exclusive de la société JLM Entreprise Elevator Company. Ils sont protégés par le Copyright © 1999. 2000 JLM Entreprise Elevator Company. Tous droits réservés.</p>
<p>Tous les textes et images contenant les symboles ,SM ou ® sont des marques ou des marques déposées ou enregistrées et elles sont utilisées avec l’autorisation de leurs propriétaires respectifs.</p>
<h2>Déclaration relative au respect de la vie privée</h2>
<p>La société JLM Entreprise Elevator Company (« JLM Entreprise ») a créé le site Internet jlm-entreprise.fr destiné exclusi­vement à ses clients, qu’ils soient propriétaires d’immeubles, gestionnaires d’immeubles, ar­chitectes ou autres partenaires commerciaux d’JLM Entreprise. L’objectif d’JLM Entreprise est d’offrir un site convivial qui répond aux besoins et aux attentes de tous les utilisateurs. Pour ce faire, nous attirons votre attention sur le fait que nous devrons recueillir un certain nombre de données vous concernant, en tant que client d’JLM Entreprise, et que nous nous efforcerons de protéger toutes les informations et toutes les données qui nous seront communiquées. La présente déclaration relative à la confidentialité des informations fournies par nos utilisateurs et les conditions gé­nérales d’utilisation ci-jointes présentent les informations collectées via le site jlm-entreprise.fr, l’usage qui en sera fait ainsi que les conditions d’utilisation de ce site. Avant d’utiliser notre site, nous vous recommandons de lire attentivement ces deux documents. Si vous avez des commentaires ou des questions à nous soumettre, voire des suggestions à apporter en vue d’optimiser l’intérêt du site, n’hésitez pas à nous contacter par e-mail via le site www.jlm-entreprise.fr.</p>
<p>La présente déclaration ne s’applique qu’aux données personnelles obtenues suite à vos connexions au site Internetjlm-entreprise.fr. Sont exclues de cette déclaration toutes les données personnelles recueillies sur formulaire ou par un moyen autre que par le site internet.</p>
<h2>Généralités</h2>
<p>JLM Entreprise utilise les informations qui lui ont été transmises par les utilisateurs, de leur plein gré, en vue d’améliorer l’exploitation du site par ces mêmes utilisateurs, de fournir des éléments interactifs ou personnalisés sur le site et de mieux préparer son contenu futur en fonction des intérêts des utilisateurs. JLM Entreprise recueille des informations vous concernant mais qui ne permettent pas de vous identifier personnellement pour établir des courbes de trafic et pour déterminer les domaines du site considérés comme utiles par les utilisateurs en fonction du niveau de trafic enregistré pour des domaines particuliers.</p>
<p>JLM Entreprise contrôle les courbes de trafic des utilisateurs sur l’ensemble du site en se basant sur le nom de domaine de l’utilisateur, le type de navigateur, la date et l’heure d’accès, les pages consultées, etc.</p>
<p>Les informations personnelles sont utilisées pour répondre à des demandes, pour permettre l’accès à des domaines spécifiques au site ou à des comptes particuliers et pour adapter le site à vos centres d’intérêt. JLM Entreprise ne transmettra aucune adresse e-mail ni aucune autre informa­tion concernant le client aux organisations ou partenaires non associés à JLM Entreprise. Dans certains cas, JLM Entreprise peut proposer des liens vers d’autres organisations. JLM Entreprise ne peut exercer aucun contrôle sur ces organisations ou sites tiers ; elle décline toute responsabilité quant au contenu et aux pratiques de sécurisation des informations propres à ces autres organisations ou sites.</p>
<h2>Informations collectées</h2>
<p>JLM Entreprise a crée son site Internet de telle sorte que les visiteurs peuvent utiliser ce site sans devoir s’identifier ou communiquer des informations personnelles à moins qu’ils ne l’aient choisi. Il est demandé aux visiteurs de notre site Internet de transmettre des informations personnelles s’ils veulent avoir accès au eService ou au eDirect, s’ils veulent s’inscrire pour d’autres raisons et/ou s’ils désirent envoyer un e-mail à JLM Entreprise. Un utilisateur qui refuse de donner des informations personnelles à JLM Entreprise a cependant accès à certaines pages de notre site.</p>
<p><u>Utilisation des informations recueillies</u> : JLM Entreprise collecte trois types d’informations sur les utili­sateurs : (1) des données recueillies grâce à la recherche d’informations issues principalement de l’enregistrement des pages consultées sur le site ; (2) des informations que les utilisateurs transmettent lors de leur inscription personnelle ; et (3) des informations fournies par les utilisateurs lors de leur inscription en vue d’accéder à certains comptes JLM Entreprise. Après votre inscription sur le site jlm-entreprise.fr ou après l’octroi d’un code spécial d’accès à vos comptes, vous serez probablement tenu de nous fournir des informations complémentaires. Notre objectif, via la collecte de ces informations, est de vous fournir des services et un contenu qui répondent à vos besoins et à vos attentes particuliers.</p>
<p>Lors de votre inscription sur le site, vous serez probablement tenu de préciser vos nom, adresse, code postal, adresse e-mail, numéro de téléphone et de définir votre activité (archi­tecte, propriétaire d’immeuble, clients maintenance, etc.). Outre les informations susmention­nées, vous serez tenu, en d’autres occasions, à savoir lorsque vous vous connecterez au site, lorsque vous aurez accès à des données ou à des informations personnelles ou lorsque vous effectuerez un achat, de nous fournir des informations plus détaillées et plus spécifiques telles que des données financières ou des détails relatifs à un projet envisagé.</p>
<p>JLM Entreprise peut utiliser les informations que vous lui transmettez lors de votre inscription afin de vous faire connaître (i) les nouveaux produits, les modifications subies par ses produits, les services offerts par JLM Entreprise ou (ii) les offres spéciales. Vous pouvez choisir de refuser de recevoir de telles informations soit en envoyant un e-mail à contact@JLM Entreprise-elevator.com, soit en décochant la case prévue à cet effet dans la page de mise à jour de votre profil utilisateur.</p>
<p><u>Accès aux informations</u> : Certaines pages du site jlm-entreprise.fr sont protégées par un mot de passe afin de vous réserver l’exclusivité de l’accès à ces informations, hormis s’il s’avère nécessaire pour JLM Entreprise, ses salariés ou personnes affiliées de fournir les services proposés. Cependant, ayez à l’esprit que les partenaires ou fournisseurs d’JLM Entreprise peuvent avoir accès aux informations que vous avez transmises pour effectuer certaines opérations de maintenance et d’entretien du site ou des bases de données. JLM Entreprise exige de ces partenaires et fournisseurs de fournir aux utilisateurs le même niveau de protection de données personnelles et de la vie privée qu’JLM Entreprise. En donnant des informations personnelles à JLM Entreprise, vous acceptez que les employés d’JLM Entreprise, les organisations affiliées, ses partenaires et fournisseurs puissent avoir accès à ces informations pour vous fournir les services proposés par le biais de ce site. JLM Entreprise ne partagera pas les informations personnelles que vous lui avez fournies avec des tiers sans votre accord, à moins que ce ne soit requis par la loi. Veuillez noter que dans certains cas autorisés par la loi ou par une ordonnance judiciaire, JLM Entreprise, recueillera, utilisera et/ou divulguera des informations personnelles collectés via son site Internet conformément à des procédures ne requérant aucune information préalable ou n’obligeant pas à fournir d’autres garanties de la vie privée (par exemple en rapport avec l’application de la loi).</p>
<p><u>Liens à d’autres sites</u> : Lorsque vous utilisez le site, il peut vous arriver d’être relié à un site ou à un produit proposé par un tiers. Si vous fournissez des informations à JLM Entreprise pour pouvoir accéder ou acquérir un produit ou des services en provenance d’un tiers qui est relié au site jlm-entreprise.fr, nous sommes susceptibles de transmettre ces informations aux tiers concernés afin qu’ils puissent traiter votre demande et vous fournir le produit ou les services commandés par vos soins. JLM Entreprise ne peut exercer aucun contrôle sur ces organismes tiers ; elle ne peut être tenue responsable des produits, des services et des pratiques de sécurisation des informations propres à ces organismes.</p>
<h2>Cookies</h2>
<p>JLM Entreprise peut avoir recours à des cookies afin d’offrir un service personnalisé sur ce site. Les cookies sont de petits textes envoyés et enregistrés sur l’ordinateur des utilisateurs ; ils permettent à des sites Internet tels que jlm-entreprise.fr de reconnaître des utilisateurs fréquents, de faciliter l’accès des utilisateurs aux sites et de procéder à la collecte des données qui permet­tront d’améliorer le contenu du site. Les cookies ne causent aucun dommage aux ordinateurs ni aux fichiers. Nous utilisons les cookies pour vous offrir les informations et les services adaptés à vos attentes et à vos besoins.</p>
<p>Si les utilisateurs ne souhaitent pas recevoir de cookies de la part d’JLM Entreprise, nous les informons que la plupart des programmes de navigation permettent de bloquer les cookies. Veuillez ce­pendant noter que les cookies peuvent s’avérer indispensables au bon fonctionnement ou à certaines fonctionnalités du site jlm-entreprise.fr.</p>
<h2>Rectification, suppression et modification des informations</h2>
<p>JLM Entreprise permet aux utilisateurs de revoir, actualiser, rectifier, modifier ou de supprimer des in­formations communiquées à JLM Entreprise. Si vous souhaitez supprimer vos informations du site, JLM Entreprise s’efforcera de retirer vos données personnelles de ses fichiers. JLM Entreprise fera le nécessaire pour protéger la vie privée des utilisateurs et garantir leur sécurité en vérifiant l’identité de tout utilisateur avant de lui accorder l’accès aux informations personnelles. Pour changer, supprimer ou avoir accès à vos informations personnelles, pour signaler les problèmes ren­contrés sur le site ou pour poser des questions éventuelles, veuillez nous contacter par e-mail via le site www.jlm-entreprise.fr ou via contact@JLM Entreprise-elevator.com.</p>
<p>Toute information personnelle recueillie via le site internet et concernant un utilisateur qui ne s’est pas connecté au site depuis plus de 2 ans sera automatiquement supprimé de nos fichiers.</p>
<p>Nous ferons le nécessaire pour protéger vos informations personnelles, mais nous attirons votre attention sur le fait qu’il vous incombe de protéger votre mot de passe et l’accès à ce site.</p>
<h2>Sécurité et intégrité</h2>
<p>JLM Entreprise s’engage à garantir la sécurité et l’intégrité des informations concernant les utilisateurs. JLM Entreprise a adopté des procédures physiques, électroniques et manageriales afin de protéger les informations personnelles que lui fournissent les utilisateurs via le site jlm-entreprise.fr. Ces procé­dures protégent les informations contre des accès non-autorisés, contre leur divulgation ou leur mauvaise utilisation, leur modification ou leur suppression. Elles garantissent également leur bonne utilisation et leur exactitude. Toutefois, en raison de la nature même des communi­cations surinternet, nous ne pouvons pas garantir la sécurité de votre transmission. Ce pour­quoi nous vous recommandons vivement de ne pas divulguer votre mot de passe à autrui.</p>
<h2>Protection des enfants</h2>
<p>Bien que le site jlm-entreprise.fr ne soit pas destiné aux enfants, JLM Entreprise s’engage à se conformer aux lois et règlements applicables tels que le Children’s Online Privacy Protection Act (loi relative à la protection de la vie privée des enfants sur internet). JLM Entreprise ne recueille pas en connaissance de cause des informations auprès d’enfants âgés de moins de 13 ans. Si JLM Entreprise apprend que des informations concernant un enfant âgé de moins de 13 ans ont été fournies, JLM Entreprise supprimera automati­quement ces informations de ses systèmes informatiques.</p>
<h2>Modifications ponctuelles</h2>
<p>Au fur et à mesure de l’expansion et des améliorations apportées au site, aux produits et aux services proposés sur ce site, nous nous efforcerons de mettre à jour la présente déclaration. Nous vous invitons à vous reporter régulièrement à prendre connaissance des mises à jour. Cette déclaration sera modifiée de temps en temps sans information préalable des utilisateurs.</p>
<h2>Acceptation des pratiques JLM Entreprise en matière de protection de la vie privée</h2>
<p>Se connecter à jlm-entreprise.fr et l’utiliser vaut acceptation de la présente déclaration relative à la protection de la vie privée des utilisateurs. Vous acceptez également les conditions générales d’utilisation du site disponible surjlm-entreprise.fr. Si vous n’êtes pas d’accord avec les conditions générales susmentionnées, merci de ne pas utiliser jlm-entreprise.fr et de ne pas communiquer d’informations personnelles.</p>
    </div>
  </div>
</div>
{% endblock container %}
