{# @JLMDaily/Fixing/new.html.twig #}
{% extends '@JLMDaily/layout.html.twig' %}

{% block content %}
	<h1>Nouvelle panne</h1>
	<h4>{{ door|nl2br }}</h4>
	{{ form_start(form, {'action': path('fixing_create', {'id':door.id}), 'attr': {'class': 'form-horizontal'}}) }}
	<fieldset>
	{{ form_widget(form) }}
		<div class="form-actions">
		   <a href="{{ path('fixing_list') }}" class="btn">{{ 'arrow-left'|icon }} Retour à la liste</a>
		   <button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Valider la nouvelle panne</button>
		</div>
		</fieldset>
	{{ form_end(form) }}
{% endblock %}

