{# @JLMDaily/Fixing/edit.html.twig #}
{% extends '@JLMDaily/layout.html.twig' %}

{% block content %}
	<h1>Editer panne</h1>
	{{ form_start(form, {'action': path('fixing_update', {'id':entity.id}), 'attr': {'class': 'form-horizontal'}}) }}
	<fieldset>
		{{ form_widget(form) }}
		<div class="form-actions">
		   <a href="{{ path('fixing_show',{'id':entity.id}) }}" class="btn">{{ 'arrow-left'|icon }} Retour à la fiche</a>
		   <button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer les modifications</button>
		</div>
		</fieldset>
	{{ form_end(form) }}
{% endblock %}
