{# @JLMDaily/Fixing/list.html.twig #}
{% extends '@JLMDaily/layout.html.twig' %}

{% block content %}
<h1>Dépannages <small>({{ entities|length }})</small></h1>
{% include '@JLMDaily/Intervention/list.html.twig' with {'entities' : entities} %}


{% endblock %}
