{% set id = 'modalNewPerson' %}
{% set action = path('jlm_contact_ajax_person_create') %}
{% set title = 'Nouvelle personne' %}
{% extends '@JLMDefault/Helpers/modalform.html.twig' %}
{% block body %}
	{% include '@JLMContact/Person/createajax.html.twig' %}
{% endblock %}
