{% extends '@JLMModel/layout.html.twig' %}
{% block content %}
<h1>Nouveau fournisseur</h1>
{{ form_start(form, {'action': path('supplier_create'), 'attr': {'class': 'form-horizontal'}}) }}
<fieldset>
    {{ form_widget(form) }}
    <div class="form-actions">
	   <a href="{{ path('supplier') }}" class="btn">{{ 'arrow-left'|icon }} Retour à la liste</a>
	   <button type="submit" class="btn btn-primary">{{ 'plus-sign'|icon(true) }} Créer</button>
	</div>
</fieldset>
{% endblock %}
