{% extends '@JLMModel/layout.html.twig' %}
{% block content %}
<h1>{{ entity.name }}</h1>
<address>
	{{ entity.address|nl2br }}
	{% for phone in entity.phones %}
	<br>{{ phone }}
	{% endfor %}
	<br>
	{% if entity.email %}<br>e-mail : <a href="mailto:{{ entity.email }}">{{ entity.email }}</a>{% endif %}
	{% if entity.website %}<br>Site internet : <a href="{{ entity.website }}">{{ entity.website }}</a>{% endif %}
</address>
<h2>Produits</h2>
<table class="table table-stripped">
    <thead>
        <tr>
            <th>Référence</th>
            <th>Désignation</th>
            <th>Famille</th>
            <th>Unité</th>
            <th>Prix d'achat HT</th>
            <th>Prix de vente HT</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
{% for product in products %}
    <tr>
        <td><a href="{{ path('jlm_product_product_show', { 'id': product.id }) }}">{{ product.reference }}</a></td>
            <td>{{ product.designation }}</td>
            <td>{% if product.category %}<a href="{{ path('jlm_product_productcategory_show', { 'id': product.category.id }) }}">{{ product.category }}</a>{% endif %}</td>
            <td>{{ product.unity }}</td>
            <td>{{ product.purchasePrice|number_format(2, ',', ' ') }} €</td>
            <td>{{ product.unitPrice|number_format(2, ',', ' ') }} €</td>
            <td>
            	<a href="{{ path('jlm_product_product_show', { 'id': product.id }) }}" class="btn">{{ 'eye-open'|icon }}</a>
                <a href="{{ path('jlm_product_product_edit', { 'id': product.id }) }}" class="btn btn-warning">{{ 'pencil'|icon(true) }}</a>
            </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<div class="form-actions">
	<a href="{{ path('supplier') }}" class="btn">{{ 'arrow-left'|icon }} Retour à la liste</a>
	<a href="{{ path('supplier_edit', { 'id': entity.id }) }}" class="btn btn-warning">{{ 'pencil'|icon(true) }} Editer</a>
</div>
 {% endblock %}
