{% extends '@JLMFront/layout.html.twig' %}

{% block title %}Contactez-nous | {{ parent() }}{% endblock title %}

{% block container %}
<div class="container">
  <div class="page-header">
    <h1>Contactez-nous</h1>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p>Votre demande nous a bien été transmise.</p>
      <p>Nous vous répondrons dans les meilleurs délais.</p>
    </div>
  </div>
</div>
{% endblock container %}
