{% extends '@JLMModel/layout.html.twig' %}
{% block content %}
<h1>Contrat n°{{ entity.number }}</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Début de contrat</th>
            <td>{{ entity.begin|date('d/m/Y') }}</td>
        </tr>
        {% if entity.endWarranty %}
        <tr>
            <th>Fin de garantie</th>
            <td>{{ entity.endWarranty|date('d/m/Y') }}</td>
        </tr>
        {% endif %}
        {% if entity.end %}
        <tr>
            <th>Fin du contrat</th>
            <td>{{ entity.end|date('d/m/Y') }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Chiffre d'affaire</th>
            <td>{{ entity.fee|number_format(2,',',' ') }} €</td>
        </tr>
    </tbody>
</table>

<h2>Porte</h2>

<div class="form-actions">
	<a href="{{ path('trustee_show',{'id':entity.trustee.id}) }}" class="btn">{{ 'arrow-left'|icon }} Retour à la fiche {{ entity.trustee }}</a>
	<a href="{{ path('jlm_contract_contract_edit', { 'id': entity.id }) }}" class="btn btn-warning">{{ 'pencil'|icon(true) }} Editer</a>
</div>
{% endblock %}
